<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <link rel="stylesheet" href="./css/bootstrap/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="./fonts/fontawesome-free-5.8.2-web/css/all.css" rel="stylesheet"type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
  <link rel="stylesheet" href="./css/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet"type="text/css">
  <title>TrueGene</title>
  <link rel="icon" href="./img/Logo.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="./css/stylesheet_custom.css">
  <link rel="stylesheet" href="stylesheet_custom.css">
  <link rel="stylesheet" href="./css/fonts.css">
  <link rel="stylesheet" href="./css/jquery.calendar.css" />



  <style>
  .hello {
    /* margin-top: 6rem; */
    padding:0px;
    box-shadow: 0 17px 73px rgba(0, 0, 0, 0.57);
    border-radius: 40px;
    background-color: #eff7ff;
    "

  }

  .title-font-modal {
    width: 514px;
    height: 36px;
    color: #2c333c;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 400;
  }

  .title-part-modal {
    width: 890px;
    height: 130px;
    background-color: #eff7ff;
  }

  .resize-1 {
    width: 396px;
    height: 60px;
    background-color: #ffffff;
  }

  .textr-box-size {
    /* Style for "Input" */
    width: 396px;
    height: 60px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
  }
  </style>

</head>

<body>
  <div class="main-container">
    <!-- header -->
    <header>
      <!-- navbar -->
      <nav class="risk-nav navbar container navbar-expand-lg nav-menu p-0">
        <a href="index.html" class="navbar-brand ">
          <img class="ml-4" src="./img/Logo.png" width="108" height="60" alt="Logo" />
        </a>
        <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </button>
        <div class="collapse navbar-collapse justify-content-start  text-uppercase font-weight-regular"
          id="myNavbar">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a href="Health-History.html" class="nav-link   menu-item">Health History</a>
            </li>
            <li class="nav-item">
              <a href="Book-session.html" class="nav-link  menu-item  ">Book counselling session</a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:3003/product-page" class="nav-link   menu-item">Order trugene test</a>
            </li>
            <li class="nav-item ">
              <a href="http://localhost:3003/your-report" class="nav-link   menu-item">Your Reports</a>
            </li>
          </ul>
          <div class="help-btn-wrap">
            <a class="btn btn-outline-primary btn-hover-white rounded-pill font-weight-bold"
              href="#" role="button">Get Help</a>
          </div>
          <!-- eo-help-btn-wrap -->
          <!-- <div class="login-name-wrap d-flex flex-sm-column justify-content-end ">
            <a class=" font-weight-bold nav-active " href="Activate-kit.html" role="">John Doe<i class="fas fa-chevron-down"> </i></a>
          </div>
        </div> -->
        <div class="login-name-wrap d-flex flex-sm-column  dropdown  " >
          <a class=" font-weight-bold pt-0 "  role="" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{patientName}} {{lastName}}<i class="fas fa-chevron-down"> </i>
          <div class="dropdown-menu dropdown-menu-left dropdown-info mt-0 pt-0" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item pl-4 roboto-reg-14px" href="http://localhost:3003/activation-kit">Activate Kit</a>
            <!-- <a class="dropdown-item pl-4" href="#">Profile</a> -->
            <a class="dropdown-item pl-4" href="#">My settings</a>
            <a class="dropdown-item pl-4" href="http://localhost:3003/logout">Log out</a>
          </div>
          </a>
        </div>

      </nav>
      <!-- end of navbar -->
    </header>
    <!-- end of header -->
    <div style="margin-top:7rem">
    </div>



    <!-- -----------------------------------------start book my session------------------------------------------------- -->
    <div class="container hello" style="background-color: #ffffff">

      <section class="reasons-sec">
        <div class="container reasons-sec-wrap gr-sec-wrap pr-0 pl-0 pb-0">
          <div class="reasons-main-header-wrap pl-4">
            <div class "abc bg-white">
              <h2 class="mx-3 " style="font-size:2.25rem;font-weight:900px;margin-top:2rem">Activate your kit</h2>
              <div style="padding-bottom:1rem">
              </div>

              <ul class="nav " id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">BARCODE<i class="fas fa-caret-right"></i></a>
                </li>
                <li class="nav-item">

                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">TEST INFO <i class="fas fa-caret-right"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab"
                    aria-controls="messages" aria-selected="false">ACCOUNT DETAILS<i class="fas fa-caret-right"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                    aria-controls="settings" aria-selected="false">BACK<i class="fas fa-caret-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div style="padding-bottom:2rem">
          </div>
<div class="tab-content ">
        <div class="tab-pane  active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="first-sec-started  container d-flex align-items-center py-4" style="background-color: #eff7ff;">
                <h2 class="roboto-black-36px pl-4 pr-0 mx-0" style="color: #4f5be7;">To get started enter the following information from your saliva tube</h2>

        </div>

        <div class="row container pl-5" style="margin-top:3rem">
        <div class="col-sm-12 col-lg-6 col-md-6">
          <h2 class="roboto-bold-30px">Saliva collected on</h2>
                  <div class="d-flex inline">
                            <div class=" input-group-prepend mb-3 ml-0 mr-2"style="border:solid 1px #ebebeb; width:200px;height:60px;">
                              <input type="date" value="2017-06-01" placeholder="Month" class="form-control roboto-reg-16px" style="height:57px;border:none" aria-label="Text input with dropdown button" >
                            </div>

                          <div class="input-group-prepend mb-3 mr-2"style="border:solid 1px #ebebeb;width:200px;height:60px;">
                            <input type="date" placeholder="date"  class="form-control roboto-reg-16px" style="height:57px;border:none" aria-label="Text input with dropdown button" >
                          </div>

                          <!-- <div class="input-group-prepend mb-3 mr-2"style="border:solid 1px #ebebeb;width:200px;height:60px;">
                            <input type="text" placeholder="Year" class="form-control roboto-reg-16px" style="height:60px;border:none" aria-label="Text input with dropdown button" >
                          </div> -->
                    </div>

            <h2 class=" roboto-bold-30px mb-2">Enter your tube’s accession number?</h2>
                <div class="d-flex inline  ">
                              <div class=" input-group-prepend mb-3 ml-0 mr-2"style="border:solid 1px #ebebeb; width:200px;height:60px;">
                                  <input type="text" placeholder="Accession number" class="form-control roboto-reg-16px" style="height:57px;border:none" aria-label="Text input with dropdown button" >
                                </div>
                  </div>
                              <h2 class="roboto-bold-30px  mb-2">Your most recent blood pressure reading.</h2>

                    <div class="d-flex inline  ">
                              <div class=" input-group-prepend mb-3 ml-0 mr-2"style="border:solid 1px #ebebeb; width:200px;height:60px;">
                                  <input type="text" placeholder="Barcode" class="form-control roboto-reg-16px" style="height:57px;border:none" aria-label="Text input with dropdown button" >

                                </div>
                        </div>

        </div>
    <div class="col-sm-12 col-lg-6 col-md-6">

          <img class="img-fluid" src="./img/Health-History/kit-1.png"  alt="Logo" />

    </div>

  </div>
  <div class="container">
  <hr>
</div>


<div class="container d-flex justify-content-end">
<div class="input-group-prepend  mb-5 mt-3 mr-5">
  <button class="btn btn-outline-primary  btn-hover-white " name="submit" style="border:none ;border-radius: 30px;height:60px;width:130px;;border:solid 1px #4f5be7;"
    type="submit" >Continue</button>
  </div>
</div>


</div>

            <!-- ----------------------------------------------------schedulde sesseion section start----------------------------------------------------------------------- -->

            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="first-sec-started  container d-flex align-items-center py-4 " style="background-color: #eff7ff;">
                    <h2 class="roboto-black-36px pl-4" style="color: #4f5be7;">Test info</h2>
              </div>
              <div class="first-sec-started  container d-flex align-items-center py-3" >
            </div>
            <h3 class="roboto-reg-24px pl-5">The sample will be processed for</h3>

              <div class="container d-flex roboto-bold-30px pl-5">
                <p class="m-0 roboto-bold-30px" >TruGene CARDIO TEST</p>
                <input class="roboto-bold-30px" style="border:none" type="text" id="myText"  readOnly>
                <a   href="#" class="roboto-reg-16px d-block pl-1 pt-2" onclick=inn();>
                <i class="ml-2 fas fa-edit"></i> Edit</a>
              </div>

              <div class="container pl-5">
              <hr>

            <h2 class="roboto-bold-24px">truGene Cardio test analyses</h2>
            <p class="roboto-reg-18px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="roboto-reg-18px">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>

            <div class="container">
            <hr>
          </div>


          <div class="container d-flex justify-content-end">
          <div class="input-group-prepend mb-5 mt-3 mr-5">
            <button class="btn btn-outline-primary  btn-hover-white " name="submit" style="border:none ;border-radius: 30px;height:60px;width:130px;;border:solid 1px #4f5be7;"
              type="submit" >Continue</button>
            </div>
          </div>


            </div>




            <!-- ----------------------------------------------------review section start----------------------------------------------------------------------- -->

            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
              <div class="first-sec-started  container d-flex align-items-center py-4" style="background-color: #eff7ff;">
                    <h2 class="roboto-black-36px px-4" style="color: #4f5be7;">Confirm your account details</h2>
              </div>
              <div class="container  pl-5" >
              <h2 class="roboto-bold-30px  py-3">The sample has been provided by :</h2><br>




            <div class="container custom-control form-control-lg custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1"><span><p style="font-size:1rem">Me</p></span></label>
          </div>
          <div class="container custom-control form-control-lg custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1"><span><p style="font-size:1rem">My Family Member</p></span></label>
        </div>

        <div class="form-group learn-text-box mb-3 ml-5" style="border:solid 1px #ebebeb;max-width:334px;">
          <select class="form-control roboto-reg-16px" id="exampleFormControlSelect1" type="text" placeholder=" Daughter" name="interest" style="border:none;height:60px;">
            <option class="dropdown-item roboto-reg-16px">Daughter</option>
            <option class="dropdown-item roboto-reg-16px">Wife</option>
            <option class="dropdown-item roboto-reg-16px">Son</option>
            <option class="dropdown-item roboto-reg-16px">Father</option>
            <option class="dropdown-item roboto-reg-16px">Mother</option>
          </select>
        </div>

        <div class="container  custom-control form-control-lg custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"><span><p style="font-size:1rem">My Friend</p></span></label>
      </div>
    </div>
      <div class="container">
      <hr>
      </div>

      <div class="container d-flex justify-content-end">
      <div class="input-group-prepend  mb-5 mt-3 mr-5 ">
        <button class="btn btn-outline-primary  btn-hover-white " name="submit" style="border:none ;border-radius: 30px;height:60px;width:130px;;border:solid 1px #4f5be7;"
          type="submit" >Continue</button>
        </div>
      </div>
          </div>

            <!-- ------------------------------------------------------back tab---------------------------------------- -->


            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
              <div class="first-sec-started  container d-flex  py-4" style="background-color: #eff7ff;">
              <h2 class="roboto-black-36px px-4" style="color: #4f5be7;">Congratulations {{patientName}}.</h2>
              <!-- <img class="justify-content-end" src="img/Health-History/X_icon.png"/> -->
              </div>
              <div class="container pl-5" >
              <h2 class="roboto-bold-30px  pt-3 ">You have now successfully activated your truGene DNA Kit</h2><br>
              <ul class="roboto-reg-18px px-3">
                <li> Please remember to post your DNAT kit</li>
                <li> You can expect your reports in 6weeks. In the mean time if you have any queries,please feel free to call on 1800-1234-1234</li>
                <li> If you have not yet filled in your health history or your family tree, we recommend you to do this at the earliest.</li>
              </ul>
            </div>


            <div class="first-sec-started  container d-flex align-items-center py-4" style="background-color: #eff7ff;">
            <h2 class="roboto-black-36px px-4" style="color: #4f5be7;">Invitation to Participate in Research</h2>
            </div>
            <div class="container px-5" >
            <h2 class="roboto-bold-30px  pt-3">You have now successfully activated your truGene DNA Kit</h2><br>
            <h2 class="roboto-reg-18px"> We invite you to participate in research to further and advance the science of genetics and health in India.</h2>
            <ul class="roboto-reg-18px px-3">

              <li> Voluntary : Participation is voluntary. So whether you give consent or not, your sample will be analysed and you will receive your report.</li>
              <li> To participate,You are not required provide any further informationand no further work is required from your side.</li>
              <li> Your data is protected : truGene does not share your name, contact information or other identifying information with any collaborator.</li>
              <li> You can decide to withdraw your consent at any time. </li>


            </ul>


            <p class="roboto-reg-18px">Read about informed Consent here.<a href="#">here</a></p>
            <div class="container ml-3 custom-control form-control-lg custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1"><span><p style="font-size:1rem">I have read the <a href="#">informed consent</a></p></span></label>
          </div>
          </div>
          <div class="container">
          <hr>
          </div>
          <div class="container d-flex justify-content-end my-5  ">
          <div class="input-group-prepend mb-5 mr-3">
            <button class="btn btn-outline-primary  btn-hover-white " name="submit" style="border:none ;border-radius: 30px;height:60px;border:solid 1px #4f5be7;"
              type="submit" > I do not give Consent.</button>
            </div>
            <div class="input-group-prepend mb-5 mr-3">
              <button class="btn btn-outline-primary  btn-hover-white " name="submit" style="border:none ;border-radius: 30px;height:60px;border:solid 1px #4f5be7;"
                type="submit" > I give consent</button>
              </div>
          </div>
            </div>
          <!-- eo gr-sec-wrap -->

      </section>
      <!--eo gr-sec-->



      </div>


    </div>

    <div style="padding-top:12.25rem;">


    </div>


    <footer class="footer-sec ">
      <div class="container footer-wrap text-center">
        <p>2019 truGene</p>
        <div class="f-social-links">
          <ul class="social-links list-inline">
            <li class="list-inline-item">
              <a href="#" class="icon-facebook"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="icon-twitter"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="icon-google-plus"><i class="fab fa-google"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
          <!-- eo .social-links -->
        </div>
        <!-- eo-f-social-links -->

        <div class="col-sm rs-footer-baseline footer-copyright text-center py-3 float-left">Terms of Service &nbsp;|&nbsp; Privacy Policy &nbsp;|&nbsp; Notice of Privacy
          Practices &nbsp;|&nbsp; Informed Consent &nbsp;|&nbsp; Accessability
        </div>
      </div>
      <!-- eo-footer-wrap -->
    </footer>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="./js/index.js"></script>

    <script src="./css/jquery.calendar.js"></script>

</body>

</html>
