<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>trueGene</title>
    <link rel="icon" href="./img/landingpage/Logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="./css/fonts.css" >

    <link rel="stylesheet" href="./css/payment.css" >

    </head>



<!-- --------------------------------------------------------------------------------------------head section end-------------------------------------------------------------------------------------------- -->
<body onload = "registerValidation();">
  <input type = "hidden" id="registerAlert" value={{{registerAlert}}}>
  <div class=" text-center mb-1 sec-1" >
 <img  class="logo-create-page text-center img-fluid"src="./img/registration/Logo.png"/>


  <div class="container c1 text-center">

    <div class="head-text">
        <h1 class="head-text-h1  text-center img-fluid roboto-black-36px">Create your truGene account </h1>
        <a href="http://localhost:3003/signIn"class="text-center img-fluid para roboto-reg-16px" style="color:#4f5be7">Already have your truGene account? Sign in</a>
    </div>



<!-- ---------------------------------------------------section 2 started------------->


<div class="container mt-5 pt-5  pb-5 mb-2 b1-cr" >
   <!-- <div class="col-sm-12 d-flex d-inline-flex mx-auto justify-content-center"> -->
  <form action ="/register" method ="POST">
  <div class="col-xs-12">
    <div class="row">
      
        <div class="input-group-prepend mb-3 mx-auto"style="border:solid 1px #ebebeb;max-width:220px;margin-right: 10px !important;">
          <input type="text" placeholder="First Name" name = "fName" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
          <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/payment/ship-Icon-1.png"/></button>
        </div>

      <div class="input-group-prepend mb-3 mx-auto"style="border:solid 1px #ebebeb;max-width:220px;margin-left: 10px !important;">
        <input type="text" placeholder="Last Name" name = "lName" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
        <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/payment/ship-Icon-1.png"/></button>
      </div>
    </div>
  </div>



  <!--Grid column-->
  <div class="col-xs-12 ">

    <div class="input-group-prepend mb-3 mx-auto" style="border:solid 1px #ebebeb;max-width:460px">
      <input type="text" placeholder="Email Id" name = "email" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
      <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/homepage/i3.png"/></button>
    </div>

  </div>
  <!--Grid column-->

  <!--Grid column-->

  <div class="col-xs-12">

    <div class="row">
        <!-- Form -->
        <div class="input-group-prepend mb-3 mx-auto"style="border:solid 1px #ebebeb;max-width:220px;margin-right: 10px !important;">
          <input type="text" placeholder="Create Password" name = "password" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
          <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/payment/pwd.png"/></button>
        </div>

        <div class="input-group-prepend mb-3 mx-auto"style="border:solid 1px #ebebeb;max-width:220px;margin-left: 10px !important;">
          <input type="text" placeholder="Confirm Password" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
          <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/payment/pwd.png"/></button>
        </div>
        <!-- Form -->

    </div>
  </div>

  <div class="col-xs-12 mx-auto d-flex justify-content-center mt-1 ">
    <span><input type="checkbox" id="termsCheck" style="color:#4f5be7">&nbsp;&nbsp;</span>
    <span><p style="color:#4f5be7;font-size:1rem">I agree to the truGene Terms of Service & Privacy Policy</p></span>
  </div>

  <!--Grid column-->
  <div class="wrapper  mt-2" >
    <a href=""><input type = "image" class="img-fluid" onclick="return termsValidate();" src="img/payment/create-account.png"/></a>
  </div>
</form>

  <div class="col-xs-12 mx-auto d-flex justify-content-center pt-3 pb-3">
    <span class="line-span align-self-center"></span>
    <span class="text-uppercase px-2 or align-self-center">or</span>
    <span class="line-span align-self-center"> </span>
  </div>

  <div class="col-xs-12">
    <div class="row">
      <!-- Form -->
      <div class="input-group-prepend mb-3 mx-auto"style="border:solid 1px #ebebeb;max-width:220px;margin-right: 10px !important;">
      <!-- <input type="text" placeholder="Email-id" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" > -->
        <a href=""><img src="img/payment/fb.png"/></a>
      </div>

      <div class="input-group-prepend mb-3 mx-auto"style="border:solid 1px #ebebeb;max-width:220px;margin-left: 10px !important;">
      <!-- <input type="text" placeholder="Email-id" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" > -->
        <a href=""><img src="img/payment/gmail.png"/></a>
      </div>
      <!-- Form -->

    </div>
  </div>
</div>


<div class="container text-center mt-5" >
  <img class="plus-button img-fluid mb-3" src="./img/registration/icon.png" />
  <p class=" text-center  "style="color:#84888e">Are you a Doctor or a Health Care Provider? If you are trying <br>to order a truGene Test or wanting to view your patients report, <br>
  <a class="pb-5 cr-1" href="#"><strong>CLICK HERE</strong></a> to create your account</p>
</div>

</div>

</div>

<div style="padding-top:12.25rem;">


</div>



<!-- ------------------------------------------------------------------------------------------------- -->


<footer class="footer-sec">
  <div class="container footer-wrap text-center">
    <p>2019 truGene</p>
    <div class="f-social-links">
      <ul class="social-links list-inline">
        <li class="list-inline-item" ><a href="#" class="icon-facebook"><i class="fab fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="#" class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" class="icon-google-plus"><i class="fab fa-google"></i></a></li>
        <li class="list-inline-item"><a href="#" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
      </ul><!-- eo .social-links -->
    </div><!-- eo-f-social-links -->

    <div class="col-sm rs-footer-baseline footer-copyright text-center py-3 float-left"  >Terms of Service  &nbsp;|&nbsp;  Privacy Policy &nbsp;|&nbsp; Notice of Privacy Practices &nbsp;|&nbsp; Informed Consent &nbsp;|&nbsp; Accessability
    </div>
  </div><!-- eo-footer-wrap -->
</footer>
</div>
</div>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script src="./js/index.js"></script>
    </body>
  </html>
