<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="./css/bootstrap/w3.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
      <link rel="stylesheet" href="./fonts/fontawesome-free-5.8.2-web/css/all.css" rel="stylesheet"type="text/css">
      <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
      <title>trueGene</title>
      <link rel="icon" href="img/landingpage/Logo.png" type="image/gif" sizes="16x16">
      <link rel="stylesheet" href="stylesheet_custom.css" >
   </head>
   <!-- --------------------------------------------------------------------------------------------head section end-------------------------------------------------------------------------------------------- -->
   <body onload = "noEmail();"">
      <input type="hidden" id="forgotAlert" value={{{forgotAlert}}}>
      <!-- <header> -->
      <!-- navbar -->
      <!-- <nav class="risk-nav navbar container navbar-expand-lg nav-menu p-0">
         <a href="#" class="navbar-brand ">
           <img class="mr-4" src="./img/Logo.png" width="108" height="60" alt="Logo"/>
         </a>
         <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
           <div class="bg-dark line1"></div>
           <div class="bg-dark line2"></div>
           <div class="bg-dark line3"></div>
         </button>
         <div class="collapse navbar-collapse justify-content-start  text-uppercase font-weight-regular" id="myNavbar">
           <ul class="navbar-nav">
             <li class="nav-item">
               <a href="#" class="nav-link   menu-item">Health History</a>
             </li>
             <li class="nav-item">
               <a href="details.html" class="nav-link  menu-item">Book counselling session</a>
             </li>
             <li class="nav-item">
               <a href="#" class="nav-link   menu-item active-nav">Order trugene test</a>
             </li>
             <li class="nav-item ">
               <a href="#" class="nav-link   menu-item ">Your Reports</a>
             </li>
           </ul>
           <div class="help-btn-wrap">
             <a class="btn btn-outline-secondary rounded-pill font-weight-bold" href="#" role="button">Get Help</a>
           </div>
           <div class="login-name-wrap d-flex flex-sm-column justify-content-end ">
             <a class=" font-weight-bold " href="#" role="" >John Doe<i class="fas fa-chevron-down"> </i></a>
           </div>
         </div>
         
         </nav> -->
      <!-- end of navbar -->
      <!-- </header>
         <div> -->
      <!-- <a href="index.html"> <img  class="logo-create-page text-center img-fluid"src="./img/registration/Logo.png"/></a> -->
      <div style="margin-top:6rem">
      </div>
      <div class="container text-center mb-5" style="padding-top:2rem" >
         <a href="index.html"> <img  class="logo-create-page text-center img-fluid"src="./img/registration/Logo.png"/></a>
         <div style="padding-top:3.2rem">
         </div>
         <div class="container p-0 " style="box-shadow: 0 17px 40px rgba(92, 103, 108, 0.2);border-radius: 40px;background-color: #ffffff;" >
            <h1 class="text-center roboto-black-36px pt-5 mt-5"><b>Reset your truGene password</b> </h1>
            <h2 class="text-center img-fluid roboto-black-36px  l1" style="font-family: Roboto regular;font-size: 16px;font-weight: 400;">
               <p>Please enter your email address you use to sign in</p>
            </h2>
            <form action = "http://localhost:3003/forgotPassword"method = "POST">
            <div class="container  pt-5"style="background-color: #eff7ff;border-bottom-left-radius: 40px;border-bottom-right-radius: 40px" >
               <!--Grid row-->
               <div class="row">
                  <!--Grid column-->
                  <div class="col-sm">
                     <!-- Form -->
                     <div class="input-group-prepend mb-3 mx-auto"style="border:solid 1px #ebebeb;max-width:445px">
                        <input type="text" placeholder="Email-id" name = "email" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
                        <!-- <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/homepage/i3.png"/></button> -->
                        <span class="input-group-text" id="validationTooltipEmailPrepend" style="border:none;background-color:white;"><img class="img-fluid" src="img/homepage/i3.png"/></span>
                     </div>
                     <!-- Form -->
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <!--Grid column-->
               </div>
               
                  <div class="wrapper mt-3 pb-5" >
                     <button type="submit" class="center-block btn  my-2 my-sm-0 center" style="color:white;background-color: #4f5be7;height:60px;width:210px;border-radius:30px; background-color:#4f5be7;" >
                     <b>Send instructions</b></button>
                  </div>
               </form>
               <!--Grid row-->
            </div>
         </div>
         <br>
         <br>
         <br>
         <br>
      </div>
      </div>
      <footer class="footer-sec pt-5 mt-5">
         <div class="container footer-wrap text-center">
            <p>2019 truGene</p>
            <div class="f-social-links">
               <ul class="social-links list-inline">
                  <li class="list-inline-item" ><a href="#" class="icon-facebook"><i class="fab fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="icon-google-plus"><i class="fab fa-google"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
               </ul>
               <!-- eo .social-links -->
            </div>
            <!-- eo-f-social-links -->
            <div class="col-sm rs-footer-baseline footer-copyright text-center py-3 float-left"  >Terms of Service  &nbsp;|&nbsp;  Privacy Policy &nbsp;|&nbsp; Notice of Privacy Practices &nbsp;|&nbsp; Informed Consent &nbsp;|&nbsp; Accessability
            </div>
         </div>
         <!-- eo-footer-wrap -->
      </footer>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script src="./js/index.js"></script>
   </body>
</html>