<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="./fonts/fontawesome-free-5.8.2-web/css/all.css" rel="stylesheet"type="text/css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TrueGene</title>
    <link rel="icon" href="./img/Logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="./css/stylesheet_custom.css" >
    <link rel="stylesheet" href="stylesheet_custom.css" >
    <link rel="stylesheet" href="./css/fonts.css" >

  </head>
<style>
  .background-login-card{
    background: url(./img/registration/3-layers.png) no-repeat center;-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    /* height: 593px; */
    /* background-position: top; */
  }
  body {
    font-family: 'Roboto', sans-serif;
    color:#2c333c;
  }

.header-font{
  color: #2c333c;
  font-family: 'roboto',sans-sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.font-card{

color: #2c333c;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
}

</style>

<!-- ----------------new page-------------------- -->

  <body>
    <!-- header -->
    <header>
      <!-- navbar -->
      <nav class="risk-nav navbar container navbar-expand-lg nav-menu p-0">
        <!-- <a href="#" class="navbar-brand "> -->
        <a href="index.html" class="navbar-brand ">

          <img class="ml-4" href="index.html" src="./img/Logo.png" width="108" height="60" alt="Logo"/>
        </a>
        <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </button>
        <div class="collapse navbar-collapse justify-content-start  text-uppercase font-weight-regular" id="myNavbar">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a href="http://localhost:3003/history" class="nav-link   menu-item">Health History</a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:3003/getBookSession" class="nav-link  menu-item">Book counselling session</a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:3003/product-page" class="nav-link   menu-item">Order trugene test</a>
            </li>
            <li class="nav-item ">
              <a href="http://localhost:3003/your-report" class="nav-link   menu-item">Your Reports</a>
            </li>
          </ul>
          <div class="help-btn-wrap">
            <a class="btn btn-outline-primary btn-hover-white rounded-pill font-weight-bold" href="#" role="button">Get Help</a>
          </div><!-- eo-help-btn-wrap -->
          <div class="login-name-wrap d-flex flex-sm-column justify-content-end ">
            <a class=" font-weight-bold  " href="http://localhost:3003/activation-kit" role="">{{patientName}} {{lastName}}<i class="fas fa-chevron-down"> </i></a>
          </div>
        </div>

      </nav>
      <!-- end of navbar -->
    </header>
    <!-- end of header -->
<div style="margin-top:6rem">
</div>
    <section class="id-1" >
      <div class="  p-0 container ">
        <div class="card rs-main-card text-center rounded border-0 shadow-lg r2 r3">
          <div class="rounded">
          <div class="card-header p-4 clearfix border-0 bg-white ">
            <div class="rs-header d-flex flex-column justify-content-start ">
               <h1 class="text-center  pt-5 roboto-black-36px" >Welcome, {{patientName}}!</h1>
              <span class="text-center roboto-reg-16px pb-4 pt-1"><p style="color: #2c333c;">You don’t have any active tests or results to view. Here are some things you can do:</p></span>
            </div>
          </div>

          <div class="card-body p-0 container-fluid " >
            <div class="background-login-card p-r-5 pl-5 px-4 py-5 container ">
              <div class="container mt-5  mb-5">
                <div class="card-deck  ">
                  <div class=" col-sm-12 col-md-4 col-lg-4">

                    <div class="card  rounded shadow-lg  mb-5 r4  " >
                      <div class="card-body text-center ">
                        <div class="card-block mt-2 p-2 circle" >
                                 <img class="card-img-top img-fluid text-center p-2 " src="./img/login/card-1.png" style="height:160px;width:160px" alt="Card image cap" >
                              </div>
                              <h3 class="font-card pb-1 roboto-reg-18px">Schedule your appointment with our genetic experts to start your genetic journey.</h3>
                              <!-- <h3 class="font-card">Schedule your appointment with our genetic experts to start your genetic journey.</h3> -->
                            <!-- <a href="#">   <img class="card-img-top text-center p-3"  src="./img/login/card-b1.png"/></a> -->
                            <button  style="height:40px;width:240px;" class="mt-5 mb-3 rounded-pill  btn btn-outline-primary btn-hover-white roboto-bold-14px" onclick="window.location.href = 'view-reports.html';" type="submit" >COUNCELLING</button>



                      </div><!-- eo-card-body -->
                    </div><!-- eo-card -->
                  </div><!-- eo-card-deck-wrap -->
                  <div class=" col-sm-12 col-md-4 col-lg-4">
                    <div class="card rounded shadow-lg  mb-5 r4 "  >
                      <div class="card-body  text-center">
                        <div class="card-block  p-2 circle" >
                               <img class="card-img-top text-center p-2 " src="./img/login/card-2.png" style="height:160px;width:160px;" alt="Card image cap" >
                              </div>
                        <h3 class="font-card pt-1 pb-1 roboto-reg-18px">Understand your genes and evaluate your risks for cancer and cardiac conditions.</h3>
                        <!-- <h3 class="font-card">Understand your genes and evaluate your risks for cancer and cardiac conditions.</h3> -->
                        <!-- <a href="#">   <img class="card-img-top text-center p-4" src="./img/login/card-b2.png"/></a> -->
                        <button  style="height:40px;width:240px;" class="mt-5 mb-3 rounded-pill btn btn-outline-primary btn-hover-white roboto-bold-14px" onclick="window.location.href = 'index.html#buy-truegene';" type="submit" >BUY TRUGENE</button>



                      </div>
                    </div>
                  </div><!-- eo-card-deck-wrap -->
                  <div class=" col-sm-12 col-md-4 col-lg-4">
                    <div class="card  rounded shadow-lg  mb-5  r4 " >
                      <div class="card-body text-center">
                        <div class="card-block mt-2 p-2 circle " >
                              <img class="card-img-top text-center  p-2" src="./img/login/card-3.png" style="height:160px;width:160px;" alt="Card image cap" >
                              </div>
                        <h3 class="font-card roboto-reg-18px pb-3">Activating your kit will only take a few minutes. You will need the barcode found on your saliva tube.</h3>
                        <!-- <h3 class="font-card">Activating your kit will only take a few minutes. You will need the barcode found on your saliva tube.</h3> -->
                        <button  style="height:40px;width: 240px;" class="mt-3 mb-2 rounded-pill  btn btn-outline-primary btn-hover-white roboto-bold-14px" onclick="window.location.href = 'view-reports.html';" type="submit" >ACTIVE KIT</button>

                            <!-- <a href="#"><img class="card-img-top text-center  p-2" src="./img/login/card-b3.png"/></a> -->

                      </div>
                    </div>
                  </div><!-- eo-card-deck-wrap -->

                </div><!-- eo-card-deck -->
              </div>
          </div>


</div>

</div>
</div>

</section>









    <footer class="footer-sec "style="margin-top:180px">
      <div class="container footer-wrap text-center">
        <p>2019 truGene</p>
        <div class="f-social-links">
          <ul class="social-links list-inline">
            <li class="list-inline-item" ><a href="#" class="icon-facebook"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="icon-google-plus"><i class="fab fa-google"></i></a></li>
            <li class="list-inline-item"><a href="#" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul><!-- eo .social-links -->
        </div><!-- eo-f-social-links -->

        <div class="col-sm rs-footer-baseline footer-copyright text-center py-3 float-left"  >Terms of Service  &nbsp;|&nbsp;  Privacy Policy &nbsp;|&nbsp; Notice of Privacy Practices &nbsp;|&nbsp; Informed Consent &nbsp;|&nbsp; Accessability
        </div>
      </div><!-- eo-footer-wrap -->
    </footer>





    <!-- eo Modal -->








  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
  </body>

</html>
