<!doctype html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="../css/bootstrap/w3.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/fontawesome-free-5.8.2-web/css/all.css" rel="stylesheet"type="text/css">

    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
    <title>trueGene</title>
    <link rel="stylesheet" href="../css/fonts.css" >
    <link rel="stylesheet" href="../css/jquery.calendar.css" />
    <link rel="icon" href="../img/landingpage/Logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/stylesheet_custom.css" >
    <link rel="stylesheet" href="../css/stylesheet_custom.css" >

    <style>
      .background-pay-card{
        background: url(../img/registration/3-layers.png) no-repeat center;-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width:100%;
        height:500px;
      }
      .fa-plus-circle:before {
    content: "\f055";
    color: #4f5be7;
}
.fa-minus-circle:before {
/* content: "\f055"; */
color: #4f5be7;
}
      </style>
      
      <script>
        
      function clickCounter() {
        if (typeof(Storage) !== "undefined") {
          if (localStorage.clickcount) {
            localStorage.clickcount = Number(localStorage.clickcount)+1;
          } else {
            localStorage.clickcount = 1;
          }
          document.getElementById("result").innerHTML =  localStorage.clickcount;
        } else {
          document.getElementById("result").innerHTML = "Sorry,";
        }
      }

      function clickCounter_minus() {
        if (typeof(Storage) !== "undefined") {
          if (localStorage.clickcount) {
            localStorage.clickcount = Number(localStorage.clickcount)-1;
          } else {
            localStorage.clickcount = 1;
          }
          document.getElementById("result").innerHTML = localStorage.clickcount ;
        } else {
          document.getElementById("result1").innerHTML = "Sorry, your browser does not support web storage...";
        }
      }

      $(document).ready(function(){ 
  $('#butn').click(function(e){
   e.preventDefault(); // <----stops the form to get submitted
   console.log('Button clicked');
   $.ajax({
      url:'http://localhost:3003/placed',
      method: 'POST',
      dataType: "jsonp",
      contentType:'application/json',
      data:{
           // <---send button name --}}
           p     :$('.ProductPrice').text() // send the p's text.
      },
      success:function(){
        console.log(JSON.stringify(data));
      }
      });
  });
});

</script>
<script type="text/javascript" src="../js/index.js"></script>

    </head>




<!-- --------------------------------------------------------------------------------------------head section end-------------------------------------------------------------------------------------------- -->
<body onload="disablePaymentTab();">
  <input type="hidden" id="paymentContinue" value={{{paymentContinue}}}>
  <header>
    <!-- navbar -->
    <nav class="risk-nav navbar container navbar-expand-lg nav-menu p-0">
      <a href="index.html" class="navbar-brand ">
        <img class="ml-4" src="../img/Logo.png" width="108" height="60" alt="Logo" />
      </a>
      <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </button>
      <div class="collapse navbar-collapse justify-content-start  text-uppercase font-weight-regular"
        id="myNavbar">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a href="http://localhost:3003/history" class="nav-link   menu-item">Health History</a>
          </li>
          <li class="nav-item">
            <a href="Book-session.html" class="nav-link  menu-item  ">Book Counseling Appointment</a>
          </li>
          <li class="nav-item">
            <a href="http://localhost:3003/product-page" class="nav-link   menu-item nav-active">Order trugene test</a>
          </li>
          <li class="nav-item ">
            <a href="http://localhost:3003/your-report" class="nav-link   menu-item">Your Reports</a>
          </li>
        </ul>
        <div class="help-btn-wrap ">
          <a class="btn btn-outline-primary btn-hover-white rounded-pill font-weight-bold " href="#" role="button">Get Help</a>
        </div>
        <!-- eo-help-btn-wrap -->
        <!-- <div class="login-name-wrap d-flex flex-sm-column justify-content-end ">
          <a class=" font-weight-bold  " href="Activate-kit.html" role="">John Doe<i class="fas fa-chevron-down"> </i></a>
        </div>
      </div> -->
      <div class="login-name-wrap d-flex flex-sm-column  dropdown  " >
        <a class=" font-weight-bold pt-0 "  role="" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{firstName}} {{lstName}}<i class="fas fa-chevron-down"> </i>
        <div class="dropdown-menu dropdown-menu-left dropdown-info mt-0 pt-0" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item pl-4 " href="Activate-kit.html">Activate Kit</a>
          <!-- <a class="dropdown-item pl-4" href="#">Profile</a> -->
          <a class="dropdown-item pl-4" href="#">settings</a>
          <a class="dropdown-item pl-4" href="http://localhost:3003/signIn">Log out</a>
        </div>
        </a>
      </div>

    </nav>
    <!-- end of navbar -->
  </header>
  <div style="margin-top:6rem">
  </div>
  <!-- <div class="nav">
    <ul class="nav" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active pl-0" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Test<i class="fas fa-caret-right"></i></a>
    </li>
    <li class="nav-item">

      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Shipping<i class="fas fa-caret-right"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Pay<i class="fas fa-caret-right"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Review</a>
    </li>
    </ul> -->


    <!-- end of navbar -->

<form id="myForm" method="POST">
<div class="container " style="box-shadow: 0 17px 40px rgba(92, 103, 108, 0.2);border-radius: 40px;background-color: #ffffff;padding-left:40px!important;">
  <div class="row">
    <div class="col-sm-8" style="padding-top:4rem">
      <h2 style="font-weight:900,sans-serif;font-size:36px;"><b>Your tests</b></h2>
    </div>

    <div class="col-sm-12 col-lg-4 col-md-12"style="background: #eff7ff;border-top-right-radius: 40px;">
        <!-- <h1>....</h1> -->
    </div>
</div>


<div class="row">
  <div class="col-sm-8" class="roboto-reg-16px">
        <!-- <h1>NAV TAB LIST</h1> -->
        <ul class="nav text-uppercase" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link  pl-0"  id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">TEST<i class="fas fa-caret-right"></i></a>
        </li>
        <li class="nav-item">

          <a class="nav-link " id="profile-tab"  data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" >SHIPPING<i class="fas fa-caret-right"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">PAYMENT<i class="fas fa-caret-right"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">REVIEW</a>
        </li>
      </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4 "style="background: #eff7ff;color:#4f5be7;">
      <h1>Summery</h1>
  </div>
</div>



<div class="row">
  <div class="col-sm-8" style="">
        <!-- <h1>MAIN CONTENT AREAR</h1> -->
        <div class="tab-content" id="myTabContent">
  <div class="tab-pane " id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-sm-6 col-lg-4 mt-5 pl-0">
        <img class="img-fluid float-left" src="../img/payment/Box.png">
        </div>
        <div class="col-sm-6 col-lg-8 pt-5">
        <h2 style="font-weight:900;font-size:2.25rem;" name="ProductName">truGene {{product}}</h2>
    <h3 style="font-weight:400;font-size:24px;">Quantity</h3>
    <div class="d-flex inline" >

    <!-- <img class="img-fluid pr-3" onclick="clickCountermin()" src="./img/payment/minus.png"/> -->
    <i  id="minusButton" class="fas fa-minus-circle fa-2x mr-2" onclick="clickCountermin()" ></i>

      <p class="justify-content-center" name="Quantity" id="result" >1</p>

      <!-- <img id="addButton" onclick="clickCounter()" class="img-fluid pl-3" src="./img/payment/plus.png"/> -->
      <i id="addButton" class="fas fa-plus-circle fa-2x ml-2" onclick="clickCounter()"></i>
    </div>
        </div>


              </div>
              <form  >
                <div class="container ansbox" style="display: none;"  id="addmember1">
                <hr>
                <!-- <p class="roboto-bold-18px" style="color:red">Please Fill Other Person<span id="result1" value="1" > 1</span> Details</p> -->
                <p class="roboto-bold-18px" style="color:red">Please Fill Person 1 Details</p>

                <div id="addmember123">
                  <!-- <p class="roboto-bold-18px" style="color:red">Person</p><p id="result">1</p> -->

                <div class="form-group row">
                  <label for="text" class="col-sm-2 col-form-label">First Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputfname" name="FirstName" placeholder="Firstname">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="text" class="col-sm-2 col-form-label" >Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputlname" name="LastName" placeholder="Lastname">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="text" class="col-sm-2 col-form-label">Relationship</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputlrel" name="Relationship" placeholder="Relationship">
                  </div>
                </div>


                <div class="form-group row">
                  <label for="text" class="col-sm-2 col-form-label">Age</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputage" name="Age" placeholder="Age">
                  </div>
                </div>
              </div>
            </div>






            <div class="container " style="display: none;"  id="addmember2">
            <hr>
            <!-- <p class="roboto-bold-18px" style="color:red">Please Fill Other Person<span id="result1" value="1" > 1</span> Details</p> -->
            <p class="roboto-bold-18px" style="color:red">Please Fill Person 2 Details</p>
            <div id="addmember1">
              <!-- <p class="roboto-bold-18px" style="color:red">Person</p><p id="result">1</p> -->

            <div class="form-group row">
              <label for="text" class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputfname" placeholder="Firstname">
              </div>
            </div>
            <div class="form-group row">
              <label for="text" class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputlname" placeholder="Lastname">
              </div>
            </div>

            <div class="form-group row">
              <label for="text" class="col-sm-2 col-form-label">Relationship</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputlrel" placeholder="Relationship">
              </div>
            </div>


            <div class="form-group row">
              <label for="text" class="col-sm-2 col-form-label">Age</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputage" placeholder="Age">
              </div>
            </div>
          </div>
        </div>



        <div class="container " style="display: none;"  id="addmember3">
        <hr>
        <!-- <p class="roboto-bold-18px" style="color:red">Please Fill Other Person<span id="result1" value="1" > 1</span> Details</p> -->
        <p class="roboto-bold-18px" style="color:red">Please Fill Person 3 Details</p>

        <div id="addmember1">
          <!-- <p class="roboto-bold-18px" style="color:red">Person</p><p id="result">1</p> -->

        <div class="form-group row">
          <label for="text" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputfname" placeholder="Firstname">
          </div>
        </div>
        <div class="form-group row">
          <label for="text" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputlname" placeholder="Lastname">
          </div>
        </div>

        <div class="form-group row">
          <label for="text" class="col-sm-2 col-form-label">Relationship</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputlrel" placeholder="Relationship">
          </div>
        </div>


        <div class="form-group row">
          <label for="text" class="col-sm-2 col-form-label">Age</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputage" placeholder="Age">
          </div>
        </div>
      </div>
    </div>




    <div class="container " style="display: none;"  id="addmember4">
    <hr>
    <!-- <p class="roboto-bold-18px" style="color:red">Please Fill Other Person<span id="result1" value="1" > 1</span> Details</p> -->
    <p class="roboto-bold-18px" style="color:red">Please Fill Person 4 Details</p>

    <div id="addmember1">
      <!-- <p class="roboto-bold-18px" style="color:red">Person</p><p id="result">1</p> -->

    <div class="form-group row">
      <label for="text" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputfname" placeholder="Firstname">
      </div>
    </div>
    <div class="form-group row">
      <label for="text" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputlname" placeholder="Lastname">
      </div>
    </div>

    <div class="form-group row">
      <label for="text" class="col-sm-2 col-form-label">Relationship</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputlrel" placeholder="Relationship">
      </div>
    </div>


    <div class="form-group row">
      <label for="text" class="col-sm-2 col-form-label">Age</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputage" placeholder="Age">
      </div>
    </div>
  </div>
</div>



<div class="container " style="display: none;"  id="addmember5">
<hr>
<!-- <p class="roboto-bold-18px" style="color:red">Please Fill Other Person<span id="result1" value="1" > 1</span> Details</p> -->
<p class="roboto-bold-18px" style="color:red">Please Fill Person 5 Details</p>

<div id="addmember1">
  <!-- <p class="roboto-bold-18px" style="color:red">Person</p><p id="result">1</p> -->

<div class="form-group row">
  <label for="text" class="col-sm-2 col-form-label">First Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputfname" placeholder="Firstname">
  </div>
</div>
<div class="form-group row">
  <label for="text" class="col-sm-2 col-form-label">Last Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputlname" placeholder="Lastname">
  </div>
</div>

<div class="form-group row">
  <label for="text" class="col-sm-2 col-form-label">Relationship</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputlrel" placeholder="Relationship">
  </div>
</div>


<div class="form-group row">
  <label for="text" class="col-sm-2 col-form-label">Age</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputage" placeholder="Age">
  </div>
</div>
</div>
</div>

              </form>
              <hr>

              <div class="row">

                <div class="col-sm-6 col-lg-4">
                  <h2 style="font-weight:400;font-size:1.5rem;">Who will use this test?</h2>

                  </div>
                  <div class="col-sm-6 col-lg-8 ">

              <input type="radio" name="ForWhom" value="1" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> This test is for me<br><br>
              <input type="radio" name="ForWhom" value="0"  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">This test is for someone else
              <div class="collapse" id="collapseExample">
              <div class="card card-body p-0 m-0">


  <form class="gc-form needs-validation p-0 m-0" validated>
    <div class="form-row mt-3">
      <div class="gc-col pl-0  col-md-5 mb-3">
        <div class="input-group">
          <input type="text" class="form-control m-0" id="validationTooltip01" placeholder="Name" value="{{{firstName}}} {{{lastName}}}" required>
          <div class="valid-tooltip">
          Looks good!
          </div>
          <div class="input-group-prepend border-0">
            <span class="input-group-text border-0" id="validationTooltip01"><img src="../img/homepage/i1.png"/></span>
          </div>
        </div>
      </div>
      <div class="gc-col col-md-5 mb-3">
        <div class="input-group">
          <input type="text" class="form-control m-0" id="validationTooltip02" placeholder="Phone number" required>
          <div class="valid-tooltip">
          Looks good!
          </div>
          <div class="input-group-prepend">
            <span class="input-group-text" id="validationTooltip02"><img src="../img/homepage/i5.png"/></span>
          </div>
        </div>
      </div>
    </div><!-- end of form-row -->
    <div class="form-row ">
      <div class=" gc-col pl-0 col-md-5 mb-3">
        <div class="input-group">
          <input type="text" class="form-control m-0" id="validationTooltipEmailPrepend" value="{{{email}}}" aria-describedby="validationTooltipEmailPrepend" required>
          <div class="invalid-tooltip">
            Please enter a valid E-mail ID.
          </div>
          <div class="input-group-prepend">
            <span class="input-group-text" id="validationTooltipEmailPrepend"><img src="../img/homepage/i3.png"/></span>
          </div>
        </div>
      </div>
      <div class="gc-col col-md-5 mb-3">
        <div class="input-group">
          <input type="text" class="form-control m-0" id="validationTooltip03" placeholder="Year of birth" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
          <div class="input-group-prepend">
            <span class="input-group-text" id="validationTooltip03"><img src="../img/homepage/i4.png"/></span>
          </div>
        </div>
      </div>

    </div>
    <!-- end of form-row -->
    <!-- <div class="form-row ">
      <div class="gc-col col-md-5 mb-3 pl-0 ">
        <div class="input-group">
          <input type="text" class="form-control m-0" id="validationTooltip05" placeholder="Phone number" required>
        <div class="invalid-tooltip">
          Please provide a valid Phone number.
        </div>
          <div class="input-group-prepend">
            <span class="input-group-text" id="validationTooltip05"><img src="img/homepage/i5.png"/></span>
          </div>
        </div>
      </div>
      <div class="gc-col col-md-5 mb-3">
        <div class="input-group">
          <textarea class="form-control m-0 " id="validationTextarea" rows="1" placeholder="Message" required></textarea>
        </div>
      </div>
    </div> -->
    <!-- end of form-row -->
<!--
   <div class="wrapper pt-3 mt-4 mb-5" >
    <button class="center-block btn btn-outline-primary btn-hover-white my-2 my-sm-0 center"style="height:60px;width:210px;border-radius:30px;" type="submit"><b>Schedule Now</b></button>
    </div> -->
  </form>


</div>
</div>
                  </div>
                        </div>
                        <hr>
                        <div class="row">

                          <div class="col-sm-6 col-lg-4 mt-5">
                            <h2 style="font-weight:400;font-size:24px;">Do you have a Doctor?</h2>
                            </div>
                            <div class="col-sm-6 col-lg-8 pt-5">

                        <input type="radio" name="HaveDoctor" value="1"> My Doctor has ordered this test<br><br>
                        <input type="radio" name="HaveDoctor" value="0"> This test has been recommended by my genetic counsellor.
                            </div>
                                </div>
                          <br>
              <hr>
          <br>
          <!-- <div class="col-sm-12 col-lg-8 col-md-12 pt-5 pb-5" style="">  <button class="float-right btn btn-hover-white my-2 my-sm-0 center my-5 " onclick="fill();"style="height:60px;width:210px;border-radius:30px; " type="submit"><b>Continue</b></button> </div> -->
               <button class="btn btn-primary " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="align-items:right">continue</button>

  </div>





  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">




    <br>

    <div class="container p-0 m-0" style="padding-bottom:20px;">
      <h2 class="mt-3" style="font-weight:700;font-size:30px;">Delivery Address</h2>

        <div class="d-flex inline ">
                        <div class="input-group-prepend mb-3 ml-0 mr-2"style="border:solid 1px #ebebeb; width:445px;height:60px;">
                          <input id="nameship" type="text" value="Mr. {{{firstName}}}"  class="form-control roboto-reg-16px" style="height:57px;border:none" aria-label="Text input with dropdown button" >
                          <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../img/payment/ship-icon-1.png"/>
                          </button>
                        </div>

                  <div class="input-group-prepend mb-3 mr-2"style="border:solid 1px #ebebeb;width:445px;height:60px;">
                    <input id="cityship" type="text" name="City" placeholder="City" class="form-control roboto-reg-16px" style="height:57px;border:none" aria-label="Text input with dropdown button" >
                    <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../img/payment/ship-icon-2.png"/></button>
                      </div>

                      <div class="input-group-prepend mb-3 mr-2"style="border:solid 1px #ebebeb;width:445px;height:60px;">
                        <input id="pinship" type="text" name="Pin"placeholder="Pin" class="form-control roboto-reg-16px" style="height:57px;border:none" aria-label="Text input with dropdown button" >
                        <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../img/payment/ship-icon-1.png"/></button>
                          </div>
      </div>
      <div class="d-flex inline  ">

                        <div class="input-group-prepend mb-3 mr-2 "style="border:solid 1px #ebebeb;width:445px">
                          <input id="a1ship" type="text" name="Address1"placeholder="Address line 1" class="form-control roboto-reg-16px" style="border:none;height:60px;" aria-label="Text input with dropdown button" >
                          <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="height:57px;border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../img/payment/ship-icon-3.png"/></button>
                        </div>

                        <div class="input-group-prepend mb-3 mr-2"style="border:solid 1px #ebebeb;width:445px">
                          <input id="mobship" type="text" name="Phone" placeholder="Mobile number" class="form-control roboto-reg-16px" style="border:none;height:60px;" aria-label="Text input with dropdown button" >
                          <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="height:57px;border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../img/payment/ship-icon-4.png"/></button>
                        </div>
    </div>

    <div class="d-flex inline pl-0 ml-0">


                        <div class="input-group-prepend mb-3 mr-2"style="border:solid 1px #ebebeb;width:445px">
                          <input id="a2ship" type="text" name="Address2" placeholder="Address line 2" class="form-control roboto-reg-16px" style="border:none;height:60px;" aria-label="Text input with dropdown button" >
                          <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="height:57px;border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../img/payment/ship-icon-5.png"/></button>
                        </div>
                        <div class="input-group-prepend mb-3 mr-2"style="border:solid 1px #ebebeb;width:445px">
                          <input id="emailship" type="text" name="Email" placeholder="Email Id" class="form-control roboto-reg-16px" style="border:none;height:60px;" aria-label="Text input with dropdown button" >
                          <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="height:57px;border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../img/payment/ship-icon-6.png"/></button>
                        </div>

                        <!-- <div class="pinput-group-prepend mb-3 mr-2"style="border:solid 1px #ebebeb;width:445px">
                          <input type="text" placeholder="Email ID" class="form-control roboto-reg-16px" style="border:none;height:60px;" aria-label="Text input with dropdown button" >
                          <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="height:57px;border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/payment/ship-icon-6.png"/></button>
                        </div> -->
             </div>
                          <button class="btn btn-primary " id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="settings" aria-selected="false">continue</button>

    </div>


              <!-- <hr> -->
    <!-- --------------------------------------1st---------------------- -->
    <br>


    <hr><br>
    <br>
    <br>
    <br>








  </div>
  <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="contact-tab">

    <!-- <div class="row">
        </div> -->

    <br>

    <div class="container p-0 m-0" style="padding-bottom:20px;">
      <h2 class="mt-3" style="font-weaiight: 700;font-size:30px;">Credit or debit card</h2>

        <div class=" d-flex inline ">
          <div class="container col-sm-12 col-lg-6 col-md-12 m-0 p-0">

                        <div class=" input-group-prepend mb-3 ml-0 pl-0 mr-2"style="border:solid 1px #ebebeb; width:300px;height:60px;">
                          <input type="text" id="namepay"  required placeholder="Card Number" name="CardNumber" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
                          <!-- <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/payment/visa.png"/> -->
                            <!-- <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/payment/visa.png"/></button> -->
                            <span class="input-group-text" style="border:none;background-color:white;"id="validationTooltip03"><img src="../img/payment/visa.png"/></span>


                        </div>
                      </div>

                  <div class="container col-sm-12 col-lg-6 col-md-12">
                  <a href="#">  <img class="img-fluid d-sm-none" style="padding-left:100px" src="../img/payment/ssl.png"/></a>
                      </div>
      </div>
      <div class="d-flex inline  ">
        <div class="container col-sm-12 col-lg-6 col-md-12 m-0 p-0">
      <div class="d-flex inline" style="width:310px">
                        <div class="input-group-prepend mb-3 mr-2 "style="border:solid 1px #ebebeb;width:200px">
                          <input type="text" placeholder="10 / 19" name="valid"class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
                        </div>

                        <div class="input-group-prepend mb-3 mr-2 "style="border:solid 1px #ebebeb;width:200px">

                        <input type="text" placeholder="944" name="CVV" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
                        <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../img/payment/pay-Icon-2.png"/></button>
                      </div>

                        </div>
                        </div>
                        <div class="container col-sm-6 col-lg-6 col-md-6 ">

    <p class="float-right float-md-left float-sm-left" style="color: #84888e;">We use SSL encription to protect your personal information, including your payment information.</p>

    </div>
    </div>


        <h2 class="mt-3 " style="font-weight:700;font-size:30px;"><b>Promo Code</b></h2>
      <div class="d-flex inline  ">

                        <div class="input-group-prepend mb-3 mr-2 "style="border:solid 1px #ebebeb;width:180px">
                          <input type="text" id="gift" name="Promo" placeholder="AONPT9997A" class="form-control roboto-reg-16px" style="border:none;height:60px" aria-label="Text input with dropdown button" >
                        </div>

                        <!-- <button class="btn btn-outline-secondary roboto-bold-14px " href="#"  style="border:none;background-color:white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/payment/apply.png"/></button> -->
                        <button class="btn btn-hover-white my-2 my-sm-0"style="height:60px;width:100px;border-radius:30px;" onclick="promo()" type="submit"><b>Apply</b></button>



    </div>
    </div>
    <a href="#"><i class="fas fa-trash-alt pr-2"></i> Remove Code</a>

              <!-- <hr> -->
    <!-- --------------------------------------1st---------------------- ----------------------------------------------------------------------------------------->

    <br>
    <br>

    <hr>

    <br>


    <button type="submit" class="btn btn-primary"  id="butn" >Continue</button>


  </div>
  <div class="tab-pane " id="settings" role="tabpanel" aria-labelledby="contact-tab">

    <div class="mt-5">
    <p class="mt-3" style="color: #84888e;font-size: 16px;font-weight: 400;">Make sure the information below is correct.</p>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-4 ">
            <h2 style="color: #2c333c;font-family: 'Roboto'sans-serif;font-size: 30px;font-weight: 700;">Test</h2>

        </div>

        <div class="col-md-12 col-sm-12 col-lg-4 d-flex p-0">
          <img class="m-0 pl-0 p-0 img-fluid"src="../img/payment/Box_confirm-page.png" style="width: 134px;height: 76px;padding-top:0px"/>

              <h3 style="color: #2c333c;font-size: 24px;font-weight: 400;">truGene Cardio</h3>



          </div>

          <div class="col-md-12 col-sm-12 col-lg-4">
            <button class="float-right btn btn-hover-white my-2 my-sm-0 center"style="height:60px;width:100px;border-radius:30px; " type="submit"><b>Edit</b></button>
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-4">
        <h2 style="color: #2c333c;font-family: Roboto;font-size: 30px;font-weight: 700;">Ship to</h2>

          </div>
          <div class="col-md-12 col-sm-12 col-lg-4">
            <h3 id="addresschange"style="color: #2c333c;font-family: Roboto;font-size: 24px;font-weight: 400;">John Doe,
            House number 8, EPIP,
            Bandra West,
            Mumbai 400050</h3>

          </div>
          <div class="col-md-12 col-sm-12 col-lg-4">
            <button class="float-right btn btn-hover-white my-2 my-sm-0 center"style="height:60px;width:100px;border-radius:30px; " type="submit"><b>Edit</b></button>


          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-4">
            <h2 style="color: #2c333c;font-family: 'Roboto', sans-serif;font-size: 30px;font-weight: 700;">Pay with</h2>


          </div>
          <div class="col-md-12 col-sm-12 col-lg-4">
            <div class="d-flex">
            <h3 style="color: #2c333c;font-family: 'Roboto', sans-serif;font-size: 24px;font-weight: 400;">xxx-8987, 10/2019</h3>
            <img class=" img-fluid float-right"src="../img/payment/visa-2.png" style="width: 43px;height: 27px;"/>
  </div>

          </div>
          <div class="col-md-12 col-sm-12 col-lg-4 ">
            <button class="float-right btn btn-hover-white my-2 my-sm-0 center"style="height:60px;width:100px;border-radius:30px; " type="submit"><b>Edit</b></button>


          </div>
        </div>
        <br>

        <hr>
        <br>
        <br>
                <button class="btn btn-primary " id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">submit</button>

    </div>

</div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4"style="background: #eff7ff;">
      <!-- <h1>LIST OF PURCHASE</h1> -->
      <div class="table-responsive-sm">
<table class="table" style="border:none">
<thead>
<tr>

</tr>
</thead>
<tbody>
<tr>
<td><b>trueGene Cradio</b></td>
<td><p id="price" class = "ProductPrice">{{productPrice}}<p></td>
</tr>
<tr>
<td><b>Shipping + Handling</p></b></td>
<td><p id="ship">1000.00</td>

</tr>
<tr>
<td><b>GST @18%</b></td>
<td><p id="gst"> 1620.00</td>
</tr>
<tr>
<td><b>Total</b></td>
<td><p id="total"> 11620.00</td>
</tr>
</tbody>
</table>
</table>
</div>


  </div>
</div>



<div class="row " >
  <div class="col-sm-12 col-lg-8 col-md-12 pt-5 pb-5" style="">
        <!-- <h1 class="float-right">Continue Button</h1> -->
        {{!-- <button class="float-right btn btn-hover-white my-2 my-sm-0 center  my-5" id="con1" onclick="paymentAction();" href="#profile"  data-toggle="tab" style="height:60px;width:210px;border-radius:30px;" type="submit"><b>Continue</b></button>
        <button class="float-right btn btn-hover-white my-2 my-sm-0 center  my-5" id="con2" onclick="paymentAction();" href="#profile"  style="height:60px;width:210px;border-radius:30px;display:none" type="submit"><b>Continue2</b></button> --}}
        {{!-- <input type="hidden" id="paymentContinue" value={{{paymentContinue}}}> --}}

  </div>

  <div class="col-sm-12 col-lg-4 col-md-12 pb-5"style="background: #eff7ff;border-bottom-right-radius:40px">
    <h4 style="color: #4f5be7;font-size: 24px;font-weight: 700;">How did you hear about us?<h4>
    <div class="learn-more-form input-group-prepend mb-3 "style="border:solid 1px #ebebeb;max-width:334px;">
      <input type="text" placeholder=" I am interested to learn about:" class="roboto-reg-16px form-control" style="border:none;height:60px" aria-label="Text input with dropdown button" >
      <button class="btn btn-outline-secondary dropdown-toggle"#  style="border:none ;background-color:#ebebeb;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu">
        <a class="dropdown-item roboto-reg-16px" href="#">i'm interested to learn about:</a>
        <a class="dropdown-item roboto-reg-16px" href="#">i'm interested to learn about:</a>
        <a class="dropdown-item roboto-reg-16px" href="#">i'm interested to learn about:</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item roboto-reg-16px" href="#">Separated link</a>
      </div>
    </div>
  </div>

</div>

</div>

</form>








<footer class="footer-sec pt-5 mt-5">
  <div class="container footer-wrap text-center">
    <p>2019 truGene</p>
    <div class="f-social-links">
      <ul class="social-links list-inline">
        <li class="list-inline-item" ><a href="#" class="icon-facebook"><i class="fab fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="#" class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" class="icon-google-plus"><i class="fab fa-google"></i></a></li>
        <li class="list-inline-item"><a href="#" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
      </ul><!-- eo .social-links -->
    </div><!-- eo-f-social-links -->

    <div class="col-sm rs-footer-baseline footer-copyright text-center py-3 float-left"  >Terms of Service  &nbsp;|&nbsp;  Privacy Policy &nbsp;|&nbsp; Notice of Privacy Practices &nbsp;|&nbsp; Informed Consent &nbsp;|&nbsp; Accessability
    </div>
  </div>
</footer>




















<!-- <p><button onclick="clickCounter()" type="button">Click me!</button></p>
<p><button onclick="clickCounter_minus()" type="button">Click me!</button></p> -->










      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
  </html>
