<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TrueGene</title>
    <link rel="stylesheet" href="./fonts/fontawesome-free-5.8.2-web/css/all.css" rel="stylesheet"type="text/css">
    <link rel="icon" href="./img/Logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="./css/stylesheet_custom.css" >
    <link rel="stylesheet" href="/stylesheet_custom.css" >
    <link rel="stylesheet" href="./css/fonts.css" >

  </head>
<style>
  .background-login-card{
    background: url(./img/registration/3-layers.png) no-repeat center;-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    /* height: 593px; */
    /* background-position: top; */
  }
  body {
    font-family: 'Roboto', sans-serif;
    color:#2c333c;
  }

.header-font{
  color: #2c333c;
  font-family: Roboto - Black;
  font-size: 36px;
  font-weight: 400;
}
.font-card{

color: #2c333c;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
}
.text-highlight{

color: #2c333c;
font-family: Roboto;
font-size: 24px;
font-weight: 700;
}

.blue-text
{
margin-top:100px;
color: #4f5be7;
font-family: "Roboto - Black";
font-size: 30px;
font-weight: 400;
}
.para{
color: #2c333c;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
margin-top:24px;
}

.space-tp{
  margin-top:31px;
  margin-bottom:101px;

}

.card-round{

box-shadow: 0 17px 40px rgba(92, 103, 108, 0.2);
border-radius: 40px;
background-color: #ffffff;
}
.c2{
    border-top-left-radius: 5rem;
        border-top-right-radius: 2rem;
        box-shadow: 0 17px 40px rgba(92, 103, 108, 0.2);
}

</style>



  <body>
    <!-- header -->
    <header>
      <!-- navbar -->
      <nav class="risk-nav navbar container navbar-expand-lg nav-menu p-0">
        <!-- <a href="#" class="navbar-brand "> -->
        <a href="index.html" class="navbar-brand ">

          <img class="ml-4" href="index.html" src="./img/Logo.png" width="108" height="60" alt="Logo"/>
        </a>
        <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </button>
        <div class="collapse navbar-collapse justify-content-start  text-uppercase font-weight-regular" id="myNavbar">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a href="http://localhost:3003/history" class="nav-link   menu-item">Health History</a>
            </li>
            <li class="nav-item">
              <a href="Book-session.html" class="nav-link  menu-item">Book Counseling Appointment</a>
            </li>
            <li class="nav-item">
              <a href="payment.html" class="nav-link   menu-item nav-active">Order trugene test</a>
            </li>
            <li class="nav-item ">
              <a href="http://localhost:3003/your-report" class="nav-link   menu-item ">Your Reports</a>
            </li>
          </ul>
          <div class="help-btn-wrap">
            <a class="btn btn-outline-secondary rounded-pill font-weight-bold" href="#" role="button">Get Help</a>
          </div><!-- eo-help-btn-wrap -->
          <!-- <div class="login-name-wrap d-flex flex-sm-column justify-content-end ">
            <a class=" font-weight-bold " href="Activate-kit.html" role="">John Doe<i class="fas fa-chevron-down"> </i></a>
          </div> -->
          <div class="login-name-wrap d-flex flex-sm-column  dropdown " >
            <a class=" font-weight-bold pt-0 "  role="" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{patientName}} {{lastName}}<i class="fas fa-chevron-down"> </i>
            <div class="dropdown-menu dropdown-menu-left dropdown-info mt-0 pt-0" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item pl-4 " href="http:localhost:3003/activation-kit">Activate Kit</a>
              <!-- <a class="dropdown-item pl-4" href="#">Profile</a> -->
              <a class="dropdown-item pl-4" href="#">settings</a>
              <a class="dropdown-item pl-4" href="http://localhost:3003/signIn">Log out</a>
            </div>
            </a>
          </div>
        </div>

      </nav>
      <!-- end of navbar -->
    </header>
    <!-- end of header -->
    <div style="margin-top:6rem">
    </div>
    <!-- <section class="id-1" > -->
      <form action = "http://localhost:3003/payment/Cancer" method="GET">
        <div class=" container background-login-card text-center card-round "style="padding:0px;border-radius:2rem">



          <div class="card-body p-0 container-fluid text-center" >
            <h1 class="text-center header-font pt-5"style="padding-top:10rem" ><b>truGene brings you a new kind of DNA TEST</b></h1>
           <span class="text-center pb-5"><p style="color: #2c333c;font-size: 16px;font-weight: 400;">Discover insights from your DNA that you take actions for
a healthier and longer life.</p></span>
         <h2 style="color: #2c333c;">Be PROACTIVE about your health.</h2>
            <div class=" p-r-5 pl-5 px-4 py-5 container " style="border-bottom-right-radius:40px;border-bottom-left-radius:40px;">
              <div class="container mt-5  mb-5">
                <div class="card-deck " >
                  <div class=" col-sm-12 col-md-12 col-lg-6 mb-5" style="padding-left:100px">

                    <div class="card  rounded shadow-lg  r4  " style="height:30rem;width:24rem">
                      <div class="card-body text-center ">
                        <div class="card-block mt-2 p-2 circle" >
                                  <img class="card-img-top img-fluid text-center " src="./img/payment/comment.png" style="height:126px;width:126px;" alt="Card image cap" >
                                  <h3 class="text-highlight pt-3" ><strong>Cancer Test</strong></h3>

                              </div>
                              <h3 class="font-card pt-1 mb-4">A detailed analysis of your genes to help you learn your risks for developing cancers of the breast, ovarian, uterine, colorectal, prostrate, pancreatic and stomach cancers.</h3>

                          <button  style="height:40px;weight:160px;" class="mx-auto px-3 rounded-pill btn btn-outline-primary btn-hover-white my-2 my-sm-0 mb-1 p-2" type="submit"><b>Order now</b></button>


                          <br><br>
                      </div><!-- eo-card-body -->
                    </div><!-- eo-card -->
                  </div><!-- eo-card-deck-wrap -->

                  <div class=" col-sm-12 col-md-12 col-lg-6 mb-5">
                    <div class="card  rounded shadow-lg   r4 " style="height:30rem;width:24rem">
                      <div class="card-body text-center">
                        <div class="card-block mt-2 p-2 circle " >
                                  <img class="card-img-top text-center " src="./img/payment/heart.png" style="height:126px;width:126px;" alt="Card image cap" >
                                  <h3 class="text-highlight  pt-3" ><strong>Cardiac Test</strong></h3>

                              </div>
                              <h3 class="font-card pt-1 mb-4">A detailed analysis of your genes to help you learn your risks for developing cancers of the breast, ovarian, uterine, colorectal, prostrate, pancreatic and stomach cancers.</h3>
                              <button type="submit" style="height:40px;weight:160px" class="mx-auto px-3 rounded-pill btn btn-outline-primary btn-hover-white my-2 my-sm-0 mb-1 p-2" formaction="http://localhost:3003/payment/Cardiac" ><b>Order now</b></button>

                      <br><br>
                      </div>
                    </div>
                  </div><!-- eo-card-deck-wrap -->

                </div><!-- eo-card-deck -->
              </div>
          </div>


</div>
</div>

<div style="padding-bottom:6rem">
</div>
</form>
<!-- </section> -->

<div class="container d-none" >

<h2 class="text-center blue-text"><b>Gift a truGene Test to your family</b></h2>
<p class="para text-center">Give upto 5 family of your family members or friends upto Rs 2500 off a<br> Color test by sharing your unique referral URL</p>
<div class="text-center">
<img class="img-fluid space-tp " src="./img/payment/gift-btn.png" />
</div>

</div>




    <footer class="footer-sec ">
      <div class="container footer-wrap text-center">
        <p>2019 truGene</p>
        <div class="f-social-links">
          <ul class="social-links list-inline">
            <li class="list-inline-item" ><a href="#" class="icon-facebook"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="icon-google-plus"><i class="fab fa-google"></i></a></li>
            <li class="list-inline-item"><a href="#" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul><!-- eo .social-links -->
        </div><!-- eo-f-social-links -->

        <div class="col-sm rs-footer-baseline footer-copyright text-center py-3 float-left"  >Terms of Service  &nbsp;|&nbsp;  Privacy Policy &nbsp;|&nbsp; Notice of Privacy Practices &nbsp;|&nbsp; Informed Consent &nbsp;|&nbsp; Accessability
        </div>
      </div><!-- eo-footer-wrap -->
    </footer>





    <!-- eo Modal -->


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
  </body>

</html>
