<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TrueGene</title>
    <link rel="icon" href="./img/Logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="./css/stylesheet_custom.css" >
    <link rel="stylesheet" href="stylesheet_custom.css" >
    <link rel="stylesheet" href="./css/fonts.css" >
    <style>

    .hello{

      width: 890px;
      height: 560px;
      box-shadow: 0 17px 73px rgba(0, 0, 0, 0.57);
      border-radius: 40px;
      background-color: #ffffff;
    }
    .title-font-modal{
    width: 514px;
    height: 36px;
    color: #2c333c;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 400;
    }
    .title-part-modal{
    width: 890px;
    height: 130px;
    background-color: #eff7ff;
    }
    .resize-1{
    width: 396px;
    height: 60px;
    background-color: #ffffff;

    }
    .textr-box-size{
      /* Style for "Input" */
width: 396px;
height: 60px;
border: 1px solid #ebebeb;
background-color: #ffffff;
    }
    </style>

  </head>

  <body>
    <div class="main-container">
    <!-- header -->
    <header>
      <!-- navbar -->
      <nav class="risk-nav navbar container navbar-expand-lg nav-menu p-0">
        <a href="index.html" class="navbar-brand ">
          <img class="ml-4"  src="./img/Logo.png" width="108" height="60" alt="Logo"/>
        </a>
        <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </button>
        <div class="collapse navbar-collapse justify-content-start  text-uppercase font-weight-regular" id="myNavbar">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a href="#" class="nav-link   menu-item">Health History</a>
            </li>
            <li class="nav-item">
              <a href="Book-session.html" class="nav-link  menu-item">Book counselling session</a>
            </li>
            <li class="nav-item">
              <a href="TruGene_Payment_Test.html" class="nav-link   menu-item">Order trugene test</a>
            </li>
            <li class="nav-item ">
              <a href="http://localhost:3003/your-report" class="nav-link   menu-item nav-active">Your Reports</a>
            </li>
          </ul>
          <div class="help-btn-wrap">
            <a class="btn btn-outline-primary btn-hover-white rounded-pill font-weight-bold" href="#" role="button">Get Help</a>
          </div><!-- eo-help-btn-wrap -->
          <div class="login-name-wrap d-flex flex-sm-column justify-content-end ">
            <a class=" font-weight-bold " href="#" role="" >John Doe<i class="fas fa-chevron-down"> </i></a>
          </div>
        </div>

      </nav>
      <!-- end of navbar -->
    </header>
    <!-- end of header -->

    <section class="risk-summery-sec">
      <div class="rs-sec-wrap  p-0 container ">
        <div class="card rs-main-card text-center rounded border-0 shadow-lg">
          <div class="card-header p-4 clearfix border-0 ">
            <div class="rs-header d-flex flex-column justify-content-start float-left">
              <h2>John Doe</h2>
              <span class=" ">Hereditary Cancer Report</span>
            </div><!-- eo-rs-header -->
            <ul class="rs-nav nav  card-header-tabs justify-content-end float-right">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-calendar-check"></i><span>Genetic counselling appointment</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:3003/your-report" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-share-square"></i><span>Share report</span></a>

              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-cloud-download-alt"></i><span>Download report</span></a>
              </li>
            </ul>
          </div><!-- eo-card-header -->
          <div class="card-body p-0 container-fluid ">
            <div class="cb-head px-4 py-5 container ">
              <h2 class="card-title">Risk Summary</h2>
              <p class="card-text">John, the results from your test do not indicate any increased genetic risks for inherited cancers</p>
            </div><!-- eo-cb-head -->
          </div><!-- eo-card-body-->

          <div class="card-body p-0 container-fluid ">
            <div class="cb-sec-one px-4 py-4 container clearfix ">
              <div class="rs-img-wrap float-left">
                <img class=" img-fluid text-center  " src="./img/risk-summary/Icon-genetic-mutation.png" alt="Card image cap">
              </div>
              <div class="cb-sec-one-text float-left">
                <h5>
                  No genetic mutations were identified.
                </h5>
                <p class="card-text pb-0">We analysed 90 genes that are associated with breast, colorectal, ovarian, pancreatic and stomach cancers. No mutations were identified in these genes.</p>

                <a id="veiw-report-btn"class="btn btn-outline-primary btn-hover-white rounded-pill text-uppercase" href="view-reports.html#detailed-view" role="button">See your Detailed Report</a>
              </div><!-- eo-cb-sec-one-text -->
             <!--  <div>
                <a class="btn btn-primary rounded-pill text-uppercase" href="#" role="button">See your Detailed Report</a>
              </div> --><!-- eo-cb-sec-one-text -->

            </div><!-- eo-cb-head -->
          </div><!-- eo-card-body-->

          <div class="container seperatorline"></div>

          <div class="card-body p-0 container-fluid ">
            <div class="cb-sec-one px-4 py-4 container clearfix ">
              <div class="rs-img-wrap float-left ">
                <img class=" img-fluid text-center  " src="./img/risk-summary/Icon-health-history.png" alt="Card image cap">
              </div>
              <div class="cb-sec-one-text float-left ">
                <h5 >
                  Your health history is incomplete.
                </h5>
                <p class="card-text">You have not completed your health history, which may impact the risk and screening guidelines for you. Although your have tested negative, 85 - 90% of all cancers have a non-genetic cause. When cancer is detected early it improves the odds of survival.</p>
                <a class="btn btn-outline-primary btn-hover-white rounded-pill text-uppercase" href="#" role="button">Update your health history now</a>
              </div><!-- eo-cb-sec-one-text -->
            </div><!-- eo-cb-head -->
          </div><!-- eo-card-body-->

          <div class="card-body p-0 container-fluid">

            <div class="slide-buttons-wrap position-relative d-none d-lg-block d-xl-block">
              <div class="prev-button d-none d-lg-block d-xl-block slide-buttons position-fixed fixed-middle">
                <a class="btn btn-primary border-0" href="view-reports.html#faqs" role="button"><i class="fas fa-chevron-left"></i></a>
              </div><!-- eo-prev-button -->
              <div class="next-button slide-buttons d-none d-lg-block d-xl-block position-fixed fixed-middle">
                <a class="btn btn-primary border-0" href="view-reports.html#your-risks" role="button"><i class="fas fa-chevron-right"></i></a>
              </div><!-- eo-prev-button -->
            </div><!-- eo-slide-buttons-wrap -->

            <!-- eo-prev-button -->


            <!-- eo-slide-buttons-wrap -->
            <div class="dv-block-wrap d-flex flex-column justify-content-start">
              <div class="dv-head cb-head px-4 pt-5 pb-0 container">
                  <button type="button" id="dv-closebutton" class="close dv-closebutton" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <h2 id="detailed-view" class="card-title">Detailed View</h2>
                <ul class="dv-nav nav  card-header-tabs " role="tablist">
                  <li class="nav-item" >
                    <a class="nav-link nav-active" role="tab" data-toggle="tab" href="#your-risks">Your Risks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"  href="#details">Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#next-steps">Next Steps</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#family-history">Family History</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#genetic-counselling">Genetic Counselling</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#share-report">Share Your Report</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#faqs">faqs</a>
                  </li>
                </ul>
              </div><!-- eo-dv-block-cb-head -->

            </div><!-- eo-dv-block-wrap -->
          </div><!-- eo-card-body-->

          <div class="tab-content" id="tab-content">

            <!-- your-risks page -->
          <section class="your-risks-wrap tab-pane fade show active"role="tabpanel" id="your-risks">
            <div class="ns-sec-body container-fluid ">
              <div class="ns-sec container ">

                <div class="ns-header">
                  <h5>
                    No genetic mutations were identified
                  </h5>
                  <p class="ns-text card-text">This means no pathogenic or likely pathogenic variants (also called mutations) associated with an increased risk of hereditary breast, colorectal, melanoma, ovarian, pancreatic, stomach, or uterine cancers were identified in any of the 90 genes analyzed.</p>
                  <p class="ns-text card-text">This result does not eliminate your risk of developing cancer. Inherited mutations explain some cases of cancer, but many are not inherited and can not be explained by a single cause. Some non-genetic factors that can influence risk include environment and lifestyle, as well as family history without a known genetic link.</p>

                  <p class="ns-text card-text"><span>Genes analyzed:</span></br>

                  APC, ATM, BAP1, BARD1, BMPR1A, BRCA1, BRCA2, BRIP1, CDH1, CDK4, CDKN2A (p14ARF), CDKN2A (p16INK4a), CHEK2, EPCAM, GREM1, MITF, MLH1, MSH2, MSH6, MUTYH, NBN, PALB2, PMS2, POLD1, POLE, PTEN, RAD51C, RAD51D, SMAD4, STK11, TP53</p>

                  <h5 class="ave-risk-header">
                    Average risk by age for Indian Men
                  </h5>
                  <p class="ns-text card-text">Average risk among US women to develop specific cancers by different ages in their lives. Breast and colorectal cancers are highlighted because they are more common</p>

                </div><!-- eo-ns-header -->
                <div class="yr-graph-sec">
                  <div class="yr-graph-sec-wrap row d-flex  ">
                  <div class="yr-graph-wrap yr-graph-1 col-sm-12 pb-sm-3 col-md-12 pb-lg-0 col-lg-6 ">
                    <img class="img-fluid text-center" src="./img/risk-summary/graph-1.png" alt="Analysed Picture">
                  </div><!-- eo-yr-graph-wrap -->
                  <div class="yr-graph-wrap yr-graph-2 col-sm-12 pt-sm-3 col-md-12 pt-lg-0 col-lg-6">
                    <img class="img-fluid text-center" src="./img/risk-summary/graph-2.png" alt="Analysed Picture">
                  </div><!-- eo-yr-graph-wrap -->
                </div><!-- yr-graph-sec-wrap row -->
                </div><!-- eo-yr-img-wrap -->

                <div class="yr-cancer-table table-responsive-md col-md-10 offset-md-1">
                  <table class="table">
                    <p class="text-left yr-table-title">Other Cancers</p>
                    <thead>
                      <tr>
                        <th scope="col">type</th>
                        <th scope="col">Age 30</th>
                        <th scope="col">Age 40</th>
                        <th scope="col">Age 50</th>
                        <th scope="col">Age 60</th>
                        <th scope="col">Age 95</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Uterine</th>
                        <td><1%</td>
                        <td><1%</td>
                        <td><1%</td>
                        <td><1%</td>
                        <td>2.9%</td>
                      </tr>
                      <tr>
                        <th scope="row">Malanoma</th>
                        <td><1%</td>
                        <td><1%</td>
                        <td><1%</td>
                        <td><1%</td>
                        <td>1.8%</td>
                      </tr>
                      <tr>
                        <th scope="row">Ovarian</th>
                        <td><1%</td>
                        <td><1%</td>
                        <td><1%</td>
                        <td><1%</td>
                        <td>1.3%</td>
                      </tr>
                      <tr>
                        <th scope="row">Pancreatic</th>
                        <td><0.1%</td>
                        <td><0.1%</td>
                        <td><0.1%</td>
                        <td><0.1%</td>
                        <td>1.5%</td>
                      </tr>
                      <tr>
                        <th scope="row">Stomach</th>
                        <td><0.1%</td>
                        <td><0.1%</td>
                        <td><0.1%</td>
                        <td><0.1%</td>
                        <td><1%</td>
                      </tr>

                    </tbody>
                  </table>
                </div><!-- eo-yr-cancer-table-->

                <!-- faq accordian -->
          <div class="container yr-accordian-wrap dv-accordian-wrap px-4">
            <div class="yr-accordian accordion" id="accordionYr">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="acc-header collapse-color mb-0">
                    Refferences
                    <button type="button" class="float-right btn btn-link rounded-circle" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus-circle  rounded-circle "></i></button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionYr">
                <div class="faq-card-body card-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa molestias, distinctio consequuntur repudiandae delectus harum nobis? Dolorum minus illum, nostrum?</p>
                </div><!-- eo-faq-card-body -->
                </div><!-- eo-#collapseOne -->
              </div><!-- eo-card -->
            </div><!-- eo-accordian -->
          </div><!-- eo-yr-accordian-wrap -->



              </div><!-- eo-ns-sec -->
            </div><!-- eo-ns-sec-body-->
          </section><!-- eo-your-risks-wrap -->

          <!-- end of your-risks page -->

          <!-- details-page -->
          <div class="container dv-accordian-wrap px-4 tab-pane fade" role="tabpanel" id="details">
            <div class="accordion" id="accordionDv">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0 acc-header collapse-color">
                    We analysed these genes
                    <button type="button" class="float-right btn btn-link rounded-circle" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus-circle  rounded-circle"></i></button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionDv">
                  <div class="analysed-body card-body">
                    <div class="float-right p-5">
                      <img class="img-fluid text-center" src="./img/risk-summary/analysed-genes.png" alt="Analysed Picture">
                    </div>
                    <p>APC, ATM, BAP1, BARD1, BMPR1A, BRCA1, BRCA2, BRIP1, CDH1, CDK4, CDKN2A (p14ARF), CDKN2A (p16INK4a), CHEK2, EPCAM, GREM1, MITF, MLH1, MSH2, MSH6, MUTYH, NBN, PALB2, PMS2, POLD1, POLE, PTEN, RAD51C, RAD51D, SMAD4, STK11, TP53</p>

                    <p>In the genes analysed no pathogenic or likely pathogenic variants associated with an increased risk for hereditary cancers of hereditary breast, colorectal, melanoma, ovarian, pancreatic, stomach, or uterine cancers were identified. were identified.</p>

                    <p><strong>Note : Please see the test methodology and limitations section for</strong></p>
                  </div>
                </div><!-- eo-#collapseOne -->
              </div><!-- eo-card -->
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="acc-header collapse-color mb-0">
                      Genetic testing
                      <button type="button" class="float-right btn btn-link" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus-circle"></i></button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse show " aria-labelledby="headingTwo" data-parent="#accordionDv">
                    <div class="gt-body card-body sec6 ">
                      <p>Please read below to understand the benefits and limitations of genetic testing.</p>
                      <div class="genetic-right">
                        <div class="genetic-right-header mb-3 d-flex flex-row align-items-center justify-content-start ">
                          <span class="d-block"><img class="img-fluid d-block text-center" src="./img/risk-summary/check-icon.png" alt="Check Icon"></span>
                          <p class="mb-0">What can be learnt from genetic testing</p>
                        </div>
                        <ul class="gt-nav text-left">
                          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                          <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                          <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                        </ul>
                      </div><!-- eo-genetic-right -->

                      <div class="genetic-right genetic-wrong">
                        <div class="genetic-right-header mb-3 d-flex flex-row align-items-center justify-content-start ">
                          <span class="d-block"><img class="img-fluid d-block text-center" src="./img/risk-summary/minus-icon.png" alt="Minus Icon"></span>
                          <p class="mb-0">What cannot be learnt from genetic testing</p>
                        </div>
                        <ul class="gt-nav text-left">
                          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                          <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                          <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                        </ul>
                      </div><!-- eo-genetic-wrong -->
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="acc-header collapse-color mb-0">
                      Reports of HIGHEST QUALITY
                      <button type="button" class="float-right btn btn-link" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus-circle"></i></button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"data-parent="#accordionDv">
                    <div class="dv-hq-card-body card-body">
                      <div class="float-right p-5">
                        <img class="img-fluid text-center" src="./img/risk-summary/highestquality.png" alt="High Quality Picture">
                      </div>
                      <p>truGene’s team, and processes generate results you can trust.</p>

                      <p>The truGene’s tests are validated according to ACMG, AMP, and regulatory agencies' recommendations for molecular clinical tests.</p>
                       <p>Our CAP-accredited and CLIA-certified laboratory uses the newest technology, including 2D barcoded tubes and advanced liquid- handling robots, to ensure the integrity of every result. The quality of every sample is checked multiple times as it moves through the sequencing and interpretation process.</p>

                      <p>Our Ph.D. and M.D. scientists use state-of-the-art tools to classify variants according to ACMG guidelines.</p>

                      <p>A certified medical professional reviews every result before it is released.</p>

                      <a class="btn btn-outline-primary btn-hover-white rounded-pill text-uppercase" href="#" role="button">Learn More</a>

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h5 class="acc-header collapse-color mb-0">
                      Methodology
                      <button type="button" class="float-right btn btn-link" data-toggle="collapse" data-target="#collapseFour"><i class="fa fa-plus-circle"></i></button>
                    </h5>
                  </div>
                  <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionDv">
                    <div class="card-body">
                      <div class="float-right p-5">
                        <img class="img-fluid text-center" src="./img/risk-summary/methodology.png" alt="Methodology Picture">
                      </div>
                      <p>Genomic DNA is extracted from the submitted sample, enriched for select regions using a hybridization protocol, and sequenced using Illumina Next Generation Sequencing. Sequence data is aligned to a reference genome, and variants are identified using a suite of bioinformatic tools designed to detect single nucleotide variants, small insertions/deletions, and structural variants such as copy number variants, insertions and inversions. Reported variants may be confirmed by alternate technologies, including Sanger sequencing, MLPA or aCGH. Analysis, variant calling and reporting focus on the complete coding sequence and adjacent intronic sequence of the primary transcript(s), unless otherwise indicated.</p>

                      <p>Variants are classified according to the standards and guidelines for sequence variant interpretation of the American College of Medical Genetics and Genomics (ACMG). Variant classification categories include pathogenic, likely pathogenic, variant of uncertain significance (VUS), likely benign, and benign. All variants are evaluated by a board certified medical geneticist or pathologist. Identified likely benign and benign variants are not reported. The presence of a VUS is always reported, and the details are available upon request. All VUS and likely pathogenic variants are reviewed bi-annually for updates in the scientific literature. As part of the Color service, we will attempt to recontact the provider and/or the person that was tested if any reported variant’s classification changes.</p>

                      <p>his test was developed and its performance characteristics determined by Color Genomics, a clinical laboratory accredited by the College of American Pathologists (CAP) and certified under the Clinical Laboratory Improvement Amendments (CLIA) to perform high-complexity testing (CAP #8975161 - CLIA #05D2081492). This test has not been cleared or approved by the United States Food and Drug Administration (FDA). The FDA does not require this test to go through premarket FDA review. This test is used for clinical purposes. It should not be regarded as investigational or for research. This test has received the European Conformity (CE) mark in compliance with the EU legislation.</p>


                      <p><strong>Genes</strong></br>
                      APC, ATM, BAP1, BARD1, BMPR1A, BRCA1, BRCA2, BRIP1, CDH1, CDK4*, CDKN2A(p14ARF), CDKN2A(p16INK4a), CHEK2, EPCAM*, GREM1*, MITF*, MLH1, MSH2, MSH6, MUTYH, NBN, PALB2, PMS2*, POLD1*, POLE*, PTEN, RAD51C, RAD51D, SMAD4, STK11, TP53

                      * These genes are only analyzed at specific locations (see Limitations).</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingFive">
                    <h5 class="acc-header collapse-color mb-0">
                      Limitations
                      <button type="button" class="float-right btn btn-link" data-toggle="collapse" data-target="#collapseFive"><i class="fa fa-plus-circle"></i></button>
                    </h5>
                  </div>
                  <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionDv">
                    <div class="card-body">
                      <div class="float-right p-5">
                        <img class="img-fluid text-center" src="./img/risk-summary/limitations.png" alt="Limitations Picture">
                      </div>
                      <p>This test aims to detect all clinically relevant variants within the genes analyzed (defined above). The majority of these genes are assessed for variants within all coding exons (and adjacent intronic sequence). Exons 12-15 of PMS2 cannot be reliably assessed with standard target enrichment protocols. For the CDK4, MITF, POLD1 and POLE genes, the elevated risk of cancer is associated with distinct functional genomic regions; therefore, the complete coding sequences of these genes are not reported, but instead only the following regions: CDK4 - chr12:g.58145429-58145431 (codon 24), MITF - chr3:g.70014091 (including c.952G>A), POLD1 - chr19:g. 50909713 (including c.1433G>A) and POLE - chr12:g.133250250 (including c.1270C>G). In EPCAM, only large deletions and duplications including the 3’ end of the gene are reported since these are the only variants known to silence the MSH2 gene and therefore increase risk of associated cancer. GREM1 is only analyzed for duplications in the upstream regulatory region.</p>
                      <p>This test is not designed to detect chromosomal aneuploidy or complex rearrangements such as translocations. It also does not reliably detect mosaicism. The sensitivity to detect deletions and duplications in the range of 40-250bp, as well as those which deletion/duplication do not overlap more than 250bp of contiguous coding sequence, may be reduced. The presence of a large insertion may interfere with the chemistry used to target the genes of interest, which could decrease the detection sensitivity. In addition, the sequence and identity of a large insertion may not be completely resolved. Inversions including at least one coding exon will be detected only if the breakpoints are covered by the Color test. The sensitivity to detect variants may be reduced in regions of low/high GC content, and in the vicinity of homopolymers and simple sequence repeats.</p>

                      <p>TruGene only reports findings within the genes that are on the panel. It is important to understand that there may be variants in those genes that current technology is not able to detect. Additionally, there may be genes associated with hereditary cancer whose clinical association has not yet been definitively established. The test may therefore not detect all variants associated with hereditary cancer. Additionally, in the unlikely event a variant is detected that is associated with a disorder other than hereditary cancer, this information will not be included in the report. Genetic counseling and/or physician consultation may be warranted to ensure complete understanding of your test results.</p>

                      <p>In very rare cases, such as circulating hematolymphoid neoplasm, allogeneic bone marrow transplant, or recent blood transfusion (within 7 days of testing), the results of germline DNA analysis may be complicated by somatic and/or donor mutations. DNA quality may be affected if a participant has received chemotherapy within the last 120 days.</p>

                      <p><strong>Disclaimers</strong></br>
                      Color implements several safeguards to avoid technical errors, such as 2-dimensional barcoding and barcode scanning at several steps throughout the sequencing process. Color is not responsible for errors in specimen collection, transportation, and activation or other errors made prior to receipt at our laboratory. Due to the complexity of genetic testing, diagnostic errors, although rare, may occur due to sample mix-up, DNA contamination, or other laboratory operational errors. In addition, poor sample DNA quality and certain characteristics inherent to specific regions of an individual’s genomic DNA may limit the accuracy of results in those regions.</p>

                      <p>In the absence of an identified pathogenic or likely pathogenic mutation, standard risk models may be employed to determine potential risk of hereditary cancer and guidelines displayed on this report. All risk estimation is approximate, sometimes cannot be specifically calculated, and is based on previously analyzed cohorts. Additionally, risk estimation may be incorrect if inaccurate personal or family history is provided. An elevated risk for hereditary cancer is not a diagnosis and does not guarantee that a person will develop the disease.</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingSix">
                    <h5 class="acc-header collapse-color mb-0">
                      Refferences
                      <button type="button" class="float-right btn btn-link" data-toggle="collapse" data-target="#collapseSix"><i class="fa fa-plus-circle"></i></button>
                    </h5>
                  </div>
                  <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordionDv">
                    <div class="card-body">
                      <p>Tung N, Battelli C, Allen B, et al. Frequency of mutations in individuals with breast cancer referred for BRCA1 and BRCA2 testing using next-generation sequencing with a 25-gene panel. Cancer. January 2015;121(1):25-33. Pubmed Abstract</p>

                      <p>Pal T, Permuth-Wey J, Betts JA, et al. BRCA1 and BRCA2 mutations account for a large proportion of ovarian carcinoma cases. Cancer. December 2005;104(12):2807-16. Pubmed Abstract</p>

                      <p>Risch HA, McLaughlin JR, Cole DE, et al. Prevalence and penetrance of germline BRCA1 and BRCA2 mutations in a population series of 649 women with ovarian cancer. Am J Hum Genet. March 2001;68(3):700-10. Pubmed Abstract</p>

                      <p>Claus EB, Risch N, Thompson WD, et al. The calculation of breast cancer risk for women with a first degree family history of ovarian cancer. Breast Cancer Res Treat. November 1993;28(2):115-20. Pubmed Abstract</p>

                      <p>Referenced with permission from the NCCN Clinical Practice Guidelines in Oncology (NCCN Guidelines®) for Breast Cancer Screening and Diagnosis V.2.2018, Colorectal Cancer Screening V.1.2018, Genetic/Familial High-Risk Assessment: Breast and Ovarian V.1.2018, Genetic/Familial High-Risk Assessment: Colorectal V.3.2017, Gastric Cancer V.1.2018 and Prostate Cancer Early Detection V.2.2018. © National Comprehensive Cancer Network, Inc 2018. All rights reserved. The NCCN Guidelines® and illustrations herein may not be reproduced in any form for any purpose without the express written permission of the NCCN. Accessed May 23, 2018. To view the most recent and complete version of the guideline, go online to NCCN.org. NATIONAL COMPREHENSIVE CANCER NETWORK®, NCCN®, NCCN GUIDELINES®, and all other NCCN Content are trademarks owned by the National Comprehensive Cancer Network, Inc..</p>
                    </div>
                  </div>
                </div>
              </div>
          </div><!-- eo bs-example -->

          <!-- end of details page -->
          <!-- next-steps page -->
          <section class="next-steps-wrap tab-pane fade"role="tabpanel" id="next-steps">
            <div class="ns-sec-body container-fluid ">
              <div class="ns-sec container ">

                <div class="ns-header">
                  <h5>
                    Know your screening guidelines
                  </h5>
                  <p class="ns-text card-text">Below are guidelines for women who have the same cancer risk as the average US woman. Your healthcare provider may use these screening guidelines to help create a customized screening plan for you.</p>

                </div><!-- eo-ns-header -->

                <div class="ns-card-container container">
                  <div clas="ns-main-title">
                    <h2>Breast</h2>
                  </div>
                  <div class="row">
                    <div class="ns-card-wrap  col-12 col-md-6 col-lg-3">
                      <div class="card card-1 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="card-top">
                            <p class= "card-title">Starting at age</p>
                            <p class= "card-number">25</p>
                          </div><!-- eo-card-top -->
                          <div class="card-btm">
                            <p class="card-text">Breast awareness - Women should be familiar with their breasts and promptly report changes to their healthcare provider.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-1 -->
                    </div><!-- eo-ns-card-wrap -->
                    <div class="ns-card-wrap col-12 col-md-6 col-lg-3">
                      <div class="card card-2 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="card-top">
                            <p class= "card-title">Between ages</p>
                            <p class= "card-number">25-39</p>
                          </div><!-- eo-card-top -->
                          <div class="card-btm">
                            <p class="card-text">Breast exam, risk assessment, and risk reduction counseling by your provider every 1-3 years.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-2 -->
                    </div><!-- eo-ns-card-wrap -->
                    <div class="ns-card-wrap col-12 col-md-6 col-lg-3">
                      <div class="card card-3 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="card-top">
                            <p class= "card-title">Starting at age</p>
                            <p class= "card-number">40</p>
                          </div><!-- eo-card-top -->
                          <div class="card-btm">
                            <p class="card-text">Breast exam, risk assessment, and risk reduction counseling by your provider and mammogram every year. Your provider may discuss screening with tomosynthesis
                            (3D mammogram).</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-3 -->
                    </div><!-- eo-ns-card-wrap -->
                    <div class="ns-card-wrap col-12 col-md-6 col-lg-3">
                      <div class="card card-4 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="card-top">
                            <p class= "card-title">After age</p>
                            <p class= "card-number">75</p>
                          </div><!-- eo-card-top -->
                          <div class="card-btm">
                            <p class="card-text">Your provider may discuss an individualized management plan with you.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-4 -->
                    </div><!--eo-ns-card-wrap -->
                  </div><!-- eo-row -->
                </div><!-- eo-ns-card-container -->

                <div class="ns-card-container container">
                  <div clas="ns-main-title">
                    <h2>Colorectal</h2>
                  </div>
                  <div class="row">
                    <div class="ns-card-wrap  col-12 col-md-6 col-lg-6">
                      <div class="card card-5 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="card-top">
                            <p class= "card-title">Between ages</p>
                            <p class= "card-number">50-75</p>
                          </div><!-- eo-card-top -->
                          <div class="card-btm">
                            <p class="card-text">copy every 10 years, or Stool-based testing (high-sensitivity guaiac-based or immunochemical-based) every year, or Stool-based FIT-DNA testing every 3 years, or Flexible sigmoidoscopy every 5-10 years, or CT colonography every 5 years.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-1 -->
                    </div><!-- eo-ns-card-wrap -->
                    <div class="ns-card-wrap col-12 col-md-6 col-lg-6">
                      <div class="card card-6 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="card-top">
                            <p class= "card-title">After age</p>
                            <p class= "card-number">75</p>
                          </div><!-- eo-card-top -->
                          <div class="card-btm">
                            <p class="card-text">our provider may discuss an individualized management plan with you. These recommendations may change if you have polyps, colon cancer, inflammatory bowel disease (IBD), or family history of colorectal cancer.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-2 -->
                    </div><!-- eo-ns-card-wrap -->

                  </div><!-- eo-row -->
                </div><!-- eo-ns-card-container -->

                <div class="ns-card-container container">

                  <div class="row">
                    <div class="ns-card-wrap  col-12 col-md-12 col-lg-6">
                      <div clas="ns-main-title">
                        <h2>Uterine</h2>
                      </div>
                      <div class="card card-5 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="card-top">
                            <p class= "card-title">At the time of</p>
                            <p class= "card-number">Menopause</p>
                          </div><!-- eo-card-top -->
                          <div class="card-btm">
                            <p class="card-text">All women should be told about the risks and symptoms of uterine cancer. Women should report any unexpected vaginal bleeding or spotting to their doctors. Some women, because of their history, may need to consider having a yearly uterine biopsy. Speak with a healthcare provider about your history.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-1 -->
                    </div><!-- eo-ns-card-wrap -->
                    <div class="ns-card-wrap col-12 col-md-12 col-lg-6">
                      <div clas="ns-main-title">
                        <h2>Melanoma</h2>
                      </div>
                      <div class="card card-6 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="card-top">
                            <p class= "card-title">To reduce the chance of developing</p>
                            <p class= "card-number">Melanoma</p>
                          </div><!-- eo-card-top -->
                          <div class="card-btm">
                            <p class="card-text">The American Cancer Society recommends limiting exposure to UV light by avoiding excess sun exposure, wearing a hat, sunglasses and long protective clothing, applying sunscreen with SPF of 30 or higher and avoiding tanning beds and sun lamps. Any new, unusual, or changing moles should be reported to your provider or dermatologist.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-2 -->
                    </div><!-- eo-ns-card-wrap -->

                  </div><!-- eo-row -->
                </div><!-- eo-ns-card-container -->

                <div class="ns-card-container container">

                  <div class="row">
                    <div class="ns-card-wrap  col-12 col-md-6 col-lg-4">
                      <div class="card card-1 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="pos-header">
                            <h2>Pancreatic</h2>
                            <!-- <p class= "card-number">25</p> -->
                          </div><!-- eo-card-top -->
                          <div class="card-btm pos-btm">
                            <p class="card-text">Currently, there are no standard screening guidelines for pancreatic cancer. Please discuss any family history of pancreatic cancer with your healthcare provider.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-1 -->
                    </div><!-- eo-ns-card-wrap -->
                    <div class="ns-card-wrap col-12 col-md-6 col-lg-4">
                      <div class="card card-2 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="pos-header">
                            <h2>Ovarian</h2>
                            <!-- <p class= "card-number">25-39</p> -->
                          </div><!-- eo-card-top -->
                          <div class="card-btm pos-btm">
                            <p class="card-text">Currently, there are no standard screening guidelines for ovarian cancer. Please discuss any family history of ovarian cancer with your healthcare provider.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-2 -->
                    </div><!-- eo-ns-card-wrap -->
                    <div class="ns-card-wrap col-12 col-md-6 col-lg-4">
                      <div class="card card-3 shadow-lg r1 border-0">
                        <div class="card-body p-0">
                          <div class="pos-header">
                            <h2>Stomach</h2>
                            <!-- <p class= "card-number">40</p> -->
                          </div><!-- eo-card-top -->
                          <div class="card-btm pos-btm">
                            <p class="card-text">Currently, there are no standard screening guidelines for stomach cancer. Please discuss any family history of stomach cancer with your healthcare provider.</p>
                          </div><!-- eo-card-btm -->
                        </div><!-- eo-card-body -->
                      </div><!-- eo-card-3 -->
                    </div><!-- eo-ns-card-wrap -->

                  </div><!-- eo-row -->
                </div><!-- eo-ns-card-container -->

                <div class="gen-recommend-wrap container">
                  <div class="gen-rec-main-title">
                    <h2>General recommendations for all individuals</h2>
                  </div>
                    <div class="row px-3">

                        <div class="gr-column-1 gr-columns col-6 col-md-4 col-lg-2">
                          <div class="gr-column-img-wrap">
                            <img class=" img-fluid text-center  " src="./img/risk-summary/Icon-tobacco.png" alt="Tobacco image cap">
                          </div><!-- gr-column-img-wrap -->
                          <div class="gr-cloumn-text-wrap">
                            <p>Avoid all forms of tobacco.</p>
                          </div><!-- gr-cloumn-text-wrap -->
                        </div><!-- gr-column-1 -->

                        <div class="gr-column-2 gr-columns col-6 col-md-4 col-lg-2">
                          <div class="gr-column-img-wrap">
                            <img class=" img-fluid text-center  " src="./img/risk-summary/Icon-alcohol.png" alt="Alcohol image cap">
                          </div><!-- gr-column-img-wrap -->
                          <div class="gr-cloumn-text-wrap">
                            <p>Avoid or limit your alcohol intake.</p>
                          </div><!-- gr-cloumn-text-wrap -->
                        </div><!-- gr-column-1 -->

                        <div class="gr-column-3 gr-columns col-6 col-md-4 col-lg-2">
                          <div class="gr-column-img-wrap">
                            <img class=" img-fluid text-center  " src="./img/risk-summary/Icon-weight.png" alt="Weight image cap">
                          </div><!-- gr-column-img-wrap -->
                          <div class="gr-cloumn-text-wrap">
                            <p>Get to and stay at a healthy weight.</p>
                          </div><!-- gr-cloumn-text-wrap -->
                        </div><!-- gr-column-1 -->

                        <div class="gr-column-4 gr-columns col-6 col-md-4 col-lg-2">
                          <div class="gr-column-img-wrap">
                            <img class=" img-fluid text-center d-block " src="./img/risk-summary/Icon-physical.png" alt="Physical image cap">
                          </div><!-- gr-column-img-wrap -->
                          <div class="gr-cloumn-text-wrap">
                            <p>Get moving with regular physical activity.</p>
                          </div><!-- gr-cloumn-text-wrap -->
                        </div><!-- gr-column-1 -->

                        <div class="gr-column-5 gr-columns col-6 col-md-4 col-lg-2">
                          <div class="gr-column-img-wrap">
                            <img class=" img-fluid text-center  " src="./img/risk-summary/Icon-fruits.png" alt="Fruits image cap">
                          </div><!-- gr-column-img-wrap -->
                          <div class="gr-cloumn-text-wrap">
                            <p>Eat healthy with plenty of fruits and vegetables.</p>
                          </div><!-- gr-cloumn-text-wrap -->
                        </div><!-- gr-column-1 -->

                        <div class="gr-column-6 gr-columns col-6 col-md-4 col-lg-2">
                          <div class="gr-column-img-wrap">
                            <img class=" img-fluid text-center  " src="./img/risk-summary/Icon-skincare.png" alt="Skincare image cap">
                          </div><!-- gr-column-img-wrap -->
                          <div class="gr-cloumn-text-wrap">
                            <p>Protect your skin.</p>
                          </div><!-- gr-cloumn-text-wrap -->
                        </div><!-- gr-column-1 -->

                    </div><!-- eo-row -->
                    <div class="gen-rec-footer-wrap">
                      <div class="gen-rec-footer-title">
                        <h5>Know yourself, your family history, and your risks</h5>
                      </div><!-- gen-rec-footer-title -->
                      <div class="gen-rec-footer-text">
                        <p>Get regular check-ups and cancer screening tests. A cancer-related check-up should include health counseling and, depending on a person’s age and gender, exams for cancers of the thyroid, oral cavity, skin, lymph nodes, testes, and ovaries, as well as for some other diseases besides cancer.</p>
                      </div><!-- gen-rec-footer-text -->
                    </div><!-- gen-rec-footer-wrap -->
                </div><!-- eo-gen-recommend-wrap -->

              </div><!-- eo-ns-sec -->
            </div><!-- eo-ns-sec-body-->
          </section><!-- eo-next-steps-wrap -->

          <!-- end of next-steps page -->
          <!--  family-history page -->

          <section class="gc-sec-wrap tab-pane fade" role="tabpanel" id="family-history">
            <div class="gc-card-body card-body p-0 container-fluid ">
              <div class="gc-sec  px-4 py-5 container ">
                <div class="gc-img-wrap float-right mt-3 p-5">
                  <img class=" img-fluid text-center d-block " src="./img/risk-summary/family-history.png" alt="Card image cap">
                </div>
                <div class="gc-text cb-sec-one-text ">
                  <h5>
                    Inheritance of mutations
                  </h5>
                  <p class="card-text">We recommend you to consider sharing your results with your relatives. Your relatives may benefit from learning their genetic status.
                  A few key points to remember: Your negative result shows that there’s a lower chance that you have an inherited mutation associated with hereditary cancer.</p>

                  <p>However, it is still possible for your relatives to have a hereditary cancer or a mutation that you did not inherit. They can benefit from getting a genetic test done. If any of your relatives have a mutation, there’s a 50% chance that their children or siblings have the same mutation. If any one of the parents have a mutation, their sons and daughters are equally likely to inherit a mutation.</p>

                  <p>You could recommend truGene genetic counselling to your relatives so they understand their genetic risks better.</p>

                  <a class="btn btn-outline-primary btn-hover-white rounded-pill text-uppercase" href="#" role="button">email my relatives<i class="fas fa-long-arrow-alt-right"></i></a>
                </div><!-- eo-gc-text -->
              </div><!-- eo-gc-sec -->
            </div><!-- eo-gc-card-body-->
          </section><!-- eo-gc-sec-wrap -->

          <!-- end of family-history page -->
          <!--  Genetic Counselling page -->

          <section class="gc-sec-wrap tab-pane fade" role="tabpanel" id="genetic-counselling">
            <div class="gc-card-body card-body p-0 container-fluid ">
              <div class="gc-sec  px-4 py-5 container">
                <div class="gc-img-wrap float-right p-5">
                  <img class=" img-fluid text-center d-block " src="./img/risk-summary/gentic-counselling-card.png" alt="Card image cap">
                </div>
                <div class="gc-text cb-sec-one-text">
                  <h5>
                    Genetic Counselling
                  </h5>
                  <p class="gc-text-subhead mb-0 py-2">Understand your genetics better from the experts</p>
                  <p class="card-text">truGene provides you with access to genetic counsellors. truGene’s genetic counsellors are board certified healthcare professionals who will help you understand your risks, your reports and answer your questions.</p>

                  <p>You can schedule your genetic counselling appointment by clicking the link below.</p>

                  <p>truGene’s genetic counsellors are board-certified healthcare professionals who can serve as a resource to help you understand your results and answer your questions. You can schedule a genetic counselling appointment at no additional cost by clicking the button below.</p>

                  <a class="btn btn-outline-primary btn-hover-white rounded-pill text-uppercase" href="#" role="button">Schedule my appointment<i class="fas fa-long-arrow-alt-right"></i></a>
                </div><!-- eo-gc-text -->
              </div><!-- eo-gc-sec -->
            </div><!-- eo-gc-card-body-->
          </section><!-- eo-gc-sec-wrap -->

          <!-- end of genetic counselling page -->
          <!-- Share your report page -->

          <section class="gc-sec-wrap tab-pane fade" role="tabpanel" id="share-report">
            <div class="gc-card-body card-body p-0 container-fluid ">
              <div class="gc-sec  px-4 py-5 row d-flex justify-content-center container">
                <div class="gc-img-wrap col-sm-12 col-md-4 order-md-2 p-3">
                  <img class=" img-fluid text-center d-block " src="./img/risk-summary/share-doctor.png" alt="Card image cap">
                </div>
                <div class="gc-text cb-sec-one-text col-sm-12 col-md-8 order-md-1">
                  <h5>
                    Share your report with your Doctor
                  </h5>
                  <p class="card-text">We encourage you to share your report with your Doctor. This will enable your Doctor to guide you on the appropriate next steps and design a personalised plan for your health.</p>

                  <a class="btn btn-outline-primary btn-hover-white rounded-pill text-uppercase" href="#" role="button">Share My Report<i class="fas fa-long-arrow-alt-right"></i></a>
                </div><!-- eo-gc-text -->
              </div><!-- eo-gc-sec -->

              <div class="seperatorline"></div>

              <div class="gc-sec  px-4 py-5 row d-flex justify-content-center container">
                <div class="gc-img-wrap col-sm-12 col-md-5 order-md-2 p-3">
                  <img class=" img-fluid text-center d-block " src="./img/risk-summary/share-family.png" alt="Card image cap">
                </div>
                <div class="gc-text cb-sec-one-text col-sm-12 col-md-7 order-md-1">
                  <h5>
                    Share your report with a family member or friend
                  </h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen</p>

                  <a class="btn btn-outline-primary btn-hover-white rounded-pill text-uppercase" href="#" role="button">Share My Report<i class="fas fa-long-arrow-alt-right"></i></a>
                </div><!-- eo-gc-text -->
              </div><!-- eo-gc-sec -->
            </div><!-- eo-gc-card-body-->
          </section><!-- eo-gc-sec-wrap -->

          <!-- end of Share your report page -->
          <!-- faqs page -->

          <div class="container faq-accordian-wrap dv-accordian-wrap px-4 tab-pane fade" role="tabpanel" id="faqs">
            <div class="faq-accordian accordion" id="accordionFaq">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="faq-title pb-3">Frequently asked questions</h5>
                  <h5 id="accdTitle" class=" mb-0 acc-header collapse-color">
                    What does a negative result mean?
                    <button type="button" class="float-right btn btn-link rounded-circle" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus-circle  rounded-circle "></i></button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFaq">
                <div class="faq-card-body card-body">
                  <p>A negative result means that no mutations, or genetic changes associated with an increased risk of the most common hereditary cancers were identified in the genes that were analyzed. This result does not eliminate your risk of developing cancer. You may still be at increased risk of cancer due to other factors, mutations not detected by current technology, or mutations in other genes.</p>
                </div><!-- eo-faq-card-body -->
                </div><!-- eo-#collapseOne -->
              </div><!-- eo-card -->

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="acc-header collapse-color mb-0">
                    Does this result mean I’m not at risk for cancer?
                    <button type="button" class="float-right btn btn-link rounded-circle" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus-circle  rounded-circle"></i></button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFaq">
                <div class="faq-card-body card-body">
                  <p>A negative result means that no mutations, or genetic changes associated with an increased risk of the most common hereditary cancers were identified in the genes that were analyzed. This result does not eliminate your risk of developing cancer. You may still be at increased risk of cancer due to other factors, mutations not detected by current technology, or mutations in other genes.</p>
                </div><!-- eo-faq-card-body -->
                </div><!-- eo-#collapseOne -->
              </div><!-- eo-card -->

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0 acc-header collapse-color">
                    Who will see these test reports?
                    <button type="button" class="float-right btn btn-link rounded-circle" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus-circle  rounded-circle"></i></button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFaq">
                <div class="faq-card-body card-body">
                  <p>A negative result means that no mutations, or genetic changes associated with an increased risk of the most common hereditary cancers were identified in the genes that were analyzed. This result does not eliminate your risk of developing cancer. You may still be at increased risk of cancer due to other factors, mutations not detected by current technology, or mutations in other genes.</p>
                </div><!-- eo-faq-card-body -->
                </div><!-- eo-#collapseOne -->
              </div><!-- eo-card -->

              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0 acc-header collapse-color">
                    Should I share my results with my Doctor?
                    <button type="button" class="float-right btn btn-link rounded-circle" data-toggle="collapse" data-target="#collapseFour"><i class="fa fa-plus-circle  rounded-circle"></i></button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionFaq">
                <div class="faq-card-body card-body">
                  <p>A negative result means that no mutations, or genetic changes associated with an increased risk of the most common hereditary cancers were identified in the genes that were analyzed. This result does not eliminate your risk of developing cancer. You may still be at increased risk of cancer due to other factors, mutations not detected by current technology, or mutations in other genes.</p>
                </div><!-- eo-faq-card-body -->
                </div><!-- eo-#collapseOne -->
              </div><!-- eo-card -->

              <div class="card">
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0 acc-header collapse-color">
                   What can cause cancer besides gene mutations?
                    <button type="button" class="float-right btn btn-link rounded-circle" data-toggle="collapse" data-target="#collapseFive"><i class="fa fa-plus-circle  rounded-circle"></i></button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFaq">
                <div class="faq-card-body card-body">
                  <p>A negative result means that no mutations, or genetic changes associated with an increased risk of the most common hereditary cancers were identified in the genes that were analyzed. This result does not eliminate your risk of developing cancer. You may still be at increased risk of cancer due to other factors, mutations not detected by current technology, or mutations in other genes.</p>
                </div><!-- eo-faq-card-body -->
                </div><!-- eo-#collapseOne -->
              </div><!-- eo-card -->

              <div class="card">
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0 acc-header collapse-color">
                    What health history factors may influence my risk of breast cancer?
                    <button type="button" class="float-right btn btn-link rounded-circle" data-toggle="collapse" data-target="#collapseSix"><i class="fa fa-plus-circle  rounded-circle"></i></button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionFaq">
                <div class="faq-card-body card-body">
                  <p>A negative result means that no mutations, or genetic changes associated with an increased risk of the most common hereditary cancers were identified in the genes that were analyzed. This result does not eliminate your risk of developing cancer. You may still be at increased risk of cancer due to other factors, mutations not detected by current technology, or mutations in other genes.</p>
                </div><!-- eo-faq-card-body -->
                </div><!-- eo-#collapseOne -->
              </div><!-- eo-card -->

              <div class="card">
                <div class="card-header" id="headingSeven">
                  <h5 class="mb-0 acc-header collapse-color">
                    For breast cancer specifically, some factors known to influence risk include:
                    <button type="button" class="float-right btn btn-link rounded-circle" data-toggle="collapse" data-target="#collapseSeven"><i class="fa fa-plus-circle  rounded-circle"></i></button>
                  </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionFaq">
                <div class="faq-card-body card-body">
                  <p>A negative result means that no mutations, or genetic changes associated with an increased risk of the most common hereditary cancers were identified in the genes that were analyzed. This result does not eliminate your risk of developing cancer. You may still be at increased risk of cancer due to other factors, mutations not detected by current technology, or mutations in other genes.</p>
                </div><!-- eo-faq-card-body -->
                </div><!-- eo-#collapseOne -->
              </div><!-- eo-card -->

            </div><!-- eo faq-accordian -->
          </div><!-- eo faq-accordian-wrap -->

          <!-- end of faqs page -->

        </div><!-- eo-tab-content -->

        </div><!-- eo-rs-main-card-->
      </div><!-- eo-rs-sec-wrap -->
    </section><!-- eo-risk-summery-sec -->



    <footer class="footer-sec">
      <div class="container footer-wrap text-center">
        <p>2019 truGene</p>
        <div class="f-social-links">
          <ul class="social-links list-inline">
            <li class="list-inline-item" ><a href="#" class="icon-facebook"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="icon-google-plus"><i class="fab fa-google"></i></a></li>
            <li class="list-inline-item"><a href="#" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul><!-- eo .social-links -->
        </div><!-- eo-f-social-links -->

        <div class="col-sm rs-footer-baseline footer-copyright text-center py-3 float-left"  >Terms of Service  &nbsp;|&nbsp;  Privacy Policy &nbsp;|&nbsp; Notice of Privacy Practices &nbsp;|&nbsp; Informed Consent &nbsp;|&nbsp; Accessability
        </div>
      </div><!-- eo-footer-wrap -->
    </footer>


</div><!-- eo-main-container -->



<!-- Modal -->
<div class="text-center modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered " role="document">
  <div class="modal-content">
    <div class="modal-header title-part-modal">
      <h2 class="modal-title title-font-modal  pr-5 pb-5" id="exampleModalLongTitle">Share my report with my Doctor</h2>
      <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src=".\img\registration\X.png"/>
      </button>
    </div>
    <div class="modal-body">
      <div class="container resize-1">



        <div class="d-flex d-flex-inline">
          <input class="textr-box-size" type="text" placeholder="Doctors First name">
          <input class="textr-box-size" type="text" placeholder="Doctors Last name">


        </div>

                <div class="d-flex d-flex-inline">
                  <input class="textr-box-size" type="text" placeholder="Name of the clinic">
                  <input  class="textr-box-size" type="text"placeholder="Name of the hospital">


                </div>

                        <div class="d-flex d-flex-inline">
                          <input class="textr-box-size" type="text"placeholder="Mobile number">
                          <input class="textr-box-size"type="text" placeholder="email id">


                        </div>

                        <div class="d-flex d-flex-inline">
                          <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              City
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>


                          <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    State
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


                        </div>


    </div>
  </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      <img src=".\img\registration\2-layers.png" onlick="#" href="#"/>
    </div>
  </div>
</div>
</div>


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>

  </body>

</html>
