
/*
  Theme Name: trueGene
  Theme URL: https://abravelab.com
  Author: ravi thakur
  License:MIT
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/



body {
/* font-family: 'Roboto', sans-serif !important; */
font-family: 'roboto',sans-serif;
color:#2c333c;
}
h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'roboto',sans-serif!important;
}
input[type="text"] {
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  color:#84888e;
}


.round-shape-card-landing{
  /* Style for "Background" */
width: 302px;
height: 317px;
box-shadow: 0 17px 40px rgba(92, 103, 108, 0.2);
border-radius: 30px;
background-color: #ffffff;
}


/* form focus styles*/

.form-control:focus {
  border-color: #ebebeb;
  box-shadow: inset
  0 0px 0px rgba(0, 0, 0, .01),
  0 0 0px rgba(0, 0, 0, .01),
  0 0 30px rgba(141, 141, 141, 0.5),
  0 0 0px rgba(0, 0, 0, .01);
}

/*End of  form focus styles*/
/* -----------eo cancer  banner sec- */
.card-icon-shadow{
height: 64px;
width: 64px;
left: 40%;
top: -20px;
border-radius: 100%;
background: #b3d7ff;
}

/* landingpage css */
.l1{
padding-top:44px;
padding-bottom:156px;
color:#2c333c;
}
.l2{
  padding-top:100px;padding-bottom:22px;font-size:2.25rem;font-weight:800px
}
.b1{
  height:120px;width:120px; border: 10px solid #e2f5f6;border-radius: 150%;background-color:  #e2f5f6;
}


/* --------------------------------------------HoemPage Css---------------------------------------- */
/* navbar classes */
.i1{
  font-size: 14px;
  font-family:'roboto ',sans-serif;
height:114px;
weight:158px;
}
.l2{
  font-size: 14px;
  font-family:'roboto ',sans-serif;
  padding-left:75px;
  font-weight:400;
}
.i3{
  font-size: 14px;
  font-family:'roboto ',sans-serif;
  font-weight: 400;
  padding-left:20px;
}

.i4{
  font-size: 14px;
  font-family:'roboto ',sans-serif;
  padding-left:20px;
  padding-right:20px;
  background-color:#4f5be7;
  border-radius:30px;
  font-weight: 400;

}
.btn11-learn{
  border:1px #4f5be7;
  background-color:#4f5be7;
  border-radius:30px;
  height:60px;
  width:170px;
}
.card-props{
  height:160px;width:160px;border-radius:70px;background-color:#e2f5f6;
}

/* homepage sec 2 */
.border-radius-round{
  border-radius: 100%;
  height: 80px;
  width: 64px;
  border: 2px white;
  background: white;
}
.one-two-sec-padding{
  margin-top:160px;
}
.homepage-sec2
{
  padding-top:0px;
}

.custom-button{
  color:blue;
  margin-left:-12px;
  /* background-color:#4f5be7; */
  border-radius:30px;
  height:60px;
  width:170px;
}
.padding-container{
  padding-top: 118px;
  padding-bottom: 70px;
}
.roboto-black-30{
  font-size:1.875rem;
  font-weight: 900;
  color:#4f5be7;
}
.roboto-reg-18px{
  font-weight: 400;
font-size:1.125rem;
}
.roboto-reg-30{
font-size:1.875rem;
font-weight: 400;

}
.roboto-bold-18px{
  font-size: 1.125rem;
  font-weight: 700;

}
.roboto-black-40px{
  font-weight: 900;
}
.roboto-med-30px{
  font-size:1.875rem;
  font-weight: 500;
  color:#4f5be7;
}
.roboto-bold-30px{
  font-size:1.875rem;
  font-weight: 700;

  /* color:#4f5be7; */f
}

.roboto-bold-14px{
  font-size:0.875rem;
  font-weight: 700;
  color:#fff;
}
.roboto-reg-16px{
  font-size:1rem;
  font-weight: 400;
  /* color:#fff; */
}
.roboto-black-30px{
  font-size:1.875rem;
  font-weight: 900;

}
.roboto-reg-16px{
  font-size:1rem;
  font-weight: 400;

}
.roboto-black-18px{
  font-size:1.125rem;
  font-weight: 900;

  /* color:#4f5be7; */
}
.roboto-reg-24px{
  font-size:1.5rem;
  font-weight: 400;

}
.roboto-bold-24px{
  font-size:1.5rem;
  font-weight: 700;

  /* color:#4f5be7; */
}
.roboto-bold-48px{
  font-size:3rem;
  font-weight: 700;

  /* color:#4f5be7; */
}
.roboto-reg-24{
  font-weight:400px;
  font-size:1.5rem;
  font-weight: 400;

}
.roboto-black-36px{

  font-size:2.25rem;
  font-weight: 900;

}
.roboto-reg-36px{
  font-size:2.25rem;
  font-weight: 400;

}
.roboto-black-48px{
  font-size:3rem;
  font-weight: 900;

}
.roboto-light-24px{
  font-size:1.5rem;
  font-weight: 300;

}
/*.card-1{
  height:100px;
  width:60px;
  border-radius:170px;
  background-color:#e2f5f6;
}*/
/* banner text */
.banner-text-h1{
  font-size:3rem;
  font-weight:900;
  padding-bottom:4rem;
  padding-top:22vh;
}

.banner-text-h4-1{

  font-size:1.5rem;
  color:#2c333c;
  font-weight:300px;
  padding-bottom:84px;
}

.sec1-landing{
  height:567px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}

.example1 {
border: 2px solid red;
padding: 10px;
border-radius: 500px;
width:50%;

}

.background-banner-page2{
  background: url(../img/cancerpage/Back-new.png) no-repeat center;-webkit-background-size: 100%;
  height:500px;
  background-position: top;
  padding:
}

.background-card-page2{
background: url(../img/cancerpage/card_main_Background.png) no-repeat center ;-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
/* width:100%; */
background-position: top;
}
.main-background{
  background: url(../img/homepage/main-banner.png) no-repeat center ;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height:100vh;*/
  /* width:100vw; */
  background-position: top;

}

.sec6 ul {

  margin: 0;
  padding: 0;
}


.sec6 li {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding-left: 15px;
  line-height:1.3;
  padding-bottom:15px;
  font-size:1.125rem;

}
.sec6 li:before {
  font-family: FontAwesome;
  content: "\f0da";
  font-size: 1.125rem;
  position: absolute;
  top: -1px;
  left: -10px;
}
.main-background-2{
  background: url(../img/homepage/b-2.png) no-repeat center   ;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #eff7ff;
  background-size: cover;
  padding-bottom:5rem;
  width:auto;
  background-position: top;
}
.r2{

border-radius: 150px;
border: 7px solid #fff;
/* box-shadow: 0 17px 40px rgba(47, 194, 252, 0.1); */


}
.r3{
border-radius: 4rem!important


}

.r4{
border-radius: 2rem!important


}

.cyan-shadow{
border-radius: 2rem!important;
box-shadow: 0 17px 40px rgba(47, 194, 252, 0.1);
width: 260px;
height: 320px;
/* margin:4rem; */
}


/* --------------------------contact form css------------------------------- */
#contactform {
  width: 400px;
  left: -405px;
  height: 500px;
  margin: 25px 0;
  position: fixed;
  box-shadow: 0 0 12px 0 #333;
}

#contact-button {
  width: 5%;
  padding: 7% 3%;
  cursor: pointer;
  margin-left: 400px;
  margin-top: 40px;
  font-size: 23px;
  color: white;
  position: absolute;
}

#contactform, #contact-button {
  background-color: #1D1F20;
  border-radius: 0 15px 15px 0;
  border: 5px solid #666666;
  border-left: none;
}

.rotated-text {
    display: inline-block;
    white-space: nowrap;
    /* this is for shity "non IE" browsers
       that dosn't support writing-mode */
    -webkit-transform: translate(1.1em,0) rotate(90deg);
       -moz-transform: translate(1.1em,0) rotate(90deg);
         -o-transform: translate(1.1em,0) rotate(90deg);
            transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;*/
   /* IE9+ */
   -ms-transform: none;
   -ms-transform-origin: none;
   /* IE8+ */
   -ms-writing-mode: tb-rl;
   /* IE7 and below */
   *writing-mode: tb-rl;
}

.rotated-text:before {
    content: "";
    float: left;
    margin-top: 100%;
}
/* dont delete health history page alligment went wrong so unhide after work */
/* form {
  width: 100%;
  padding: 20px;
}

form input {
  display: block;
  border: none;
  width: 300px;
  height: 35px;
  margin: 15px 30px;
}

form textarea {
  width: 300px;
  margin: 40px 30px;
  height: 170px;
}

form textarea, form input {
  border: 3px solid #666666;
  border-radius: 5px;
  background: #f2f2f2;
} */


/* ----------------------------end contact form css----------------------------- */
/* book-session nav tabs styles*/

#myTab li a{
  color:#2c333c;
}

#myTab li .active{
  color:#4f5be7;
}

#myTab li i{
  padding-left:10px;
}

.congrats-container{
  padding:0!important;
}

.congrats-sec-wrap{
  border:solid 1px red;
}


/*.congrats-card-wrap{
  padding: 100px 200px;
  border-top-left-radius:3rem!important;
  border-top-right-radius:3rem!important;
}*/






/* ----------------------------book session ----------------------------- */
.hello{
  margin-top:6rem;
  box-shadow: 0 17px 73px rgba(0, 0, 0, 0.57);
  border-radius: 40px;
  background-color: #eff7ff;"
}
.title-font-modal{
width: 514px;
height: 36px;
color: #2c333c;
font-family: "Roboto - Black";
font-size: 36px;
font-weight: 400;
}
.title-part-modal{
width: 890px;
height: 130px;
background-color: #eff7ff;
}
.resize-1{
width: 396px;
height: 60px;
background-color: #ffffff;

}
.textr-box-size{
  /* Style for "Input" */
width: 396px;
height: 60px;
border: 1px solid #ebebeb;
background-color: #ffffff;
}
/* --------------------health history---------------------------- */


.hh-ftab-2-sec{
background-color: #eff7ff;
height:11rem;
margin-bottom:3rem;
}
.hh-ftab-2-sec  h2 {
  color: #4f5be7;
  font-size: 2.25rem;
  font-weight: 900;
}
.hh-ftab-2-sec  p {
  color:#2c333c ;
  font-size: 1rem;
  font-weight: 700;
}
.bold-18{
  color: #2c333c;
  font-size: 18px;
  font-weight: 700;
}
.reg-18{
  color: #2c333c;
  font-size: 18px;
  font-weight: 400;
}

.hh-ft-3-qa-sec h2{
  color:#2c333c ;
  font-size: 1.875rem;
  font-weight: 700;
}
.hh-ftab-4-sec{
background-color: #eff7ff;
}
.hh-ftab-4-sec  h2 {
  color: #4f5be7;
  font-size: 2.25rem;
  font-weight: 900;
}
.hh-ftab-4-sec  p {
  color:#2c333c ;
  font-size: 1rem;
  font-weight: 700;
}


.hh-ftab-5-sec  h2 {
  color: #4f5be7;
  font-size: 2.25rem;
  font-weight: 900;
}

.hh-ftab-5-sec  h3 {
color:#2c333c ;
  font-size: 1.875rem;
  font-weight: 700;
}
.hh-ftab-5-sec  p {
  color:#2c333c ;
  font-size: 1.125rem;
  font-weight: 400;
}
.hh-ftab-5-sec  .uppp {
  color:#2c333c ;
  font-size: 1.125rem;
  font-weight: 400;
  padding-top:20px;
}
.upload-fh{
  width: 17.5rem;
  height: 3.75rem;
  border-radius: 30px;
  border: 1px solid #4f5be7;
  background-color: #ffffff;
}
.hh-ftab-6-sec  h2 {
  color: #4f5be7;
  font-size: 2.25rem;
  font-weight: 900;
}

.hh-ftab-6-sec  h3 {
color:#2c333c ;
  font-size: 1.875rem;
  font-weight: 700;
}
.hh-ftab-6-sec  p {
  color:#2c333c ;
  font-size: 1.125rem;
  font-weight: 400;
}
.hh-ftab-6-sec  .uppp {
  color:#2c333c ;
  font-size: 1.125rem;
  font-weight: 400;
  padding-top:20px;
}
.hh-ftab-6-sec{
background-color: #eff7ff;
}
